# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [1]:
18 % 7

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [1]:
3**4

81

**Ex 4** Calculate the square root of 49

In [38]:
import math
math.sqrt(49)

##sqrt() function is an inbuilt function in Python programming language that returns the square root of any number. 
##Syntax: math. sqrt(x) Parameter: x is any number such that x>=0 Returns: It returns the square root of the number passed in the parameter.

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [8]:
pi = "3.14159265"
number_conversion = float(pi)
rounded_number = round(number_conversion,3)
round(float(pi),3)
print(pi + "789")
float(pi)
round(float(pi),3)

3.14159265789

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [10]:
result = int(4.9)
print(result)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [11]:
int(round(4.9))

## convert into integer removes decimal part

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [18]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
## range = [0,1,2,3,4,5]

numofnames = len(names)
print(*names, sep="\n")

i = 0
while i < numofnames:
    print(names[i])
    i = i +1

Miriam
Tim
Jing
Carlos
Ruben
Ashley
Miriam
Tim
Jing
Carlos
Ruben
Ashley

In [21]:
#for name in names: 
    print(name)

Miriam
Tim
Jing
Carlos
Ruben
Ashley

In [30]:
#for unit in names:
   # print(unit)
random_word = "random"
len(random_word)

6

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [27]:
new_names = ["Pablo" , "Lise"]
for name in new_names:
    names.append(name)
print(names)

##The append() method in python adds a single item to the existing list. 
##It doesn't return a new list of items but will modify the original list by adding the item to the end of the list

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [31]:
print(names[1],names[-2])

Tim Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [43]:
age = [11, 22, 33, 44, 22, 55]
print(sum(age)/len(age))

31.166666666666668

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [44]:
age = [11, 22, 33, 44, 22, 55]
sorted_number = sorted(age)
print(sorted_number)

age.count(22)
print(age)


##The sorted() function returns a sorted list of the specified iterable object. 
##You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

[11, 22, 22, 33, 44, 55]
[11, 22, 33, 44, 22, 55]

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [45]:
def sum_three(num1, num2, num3):
    if num1 == num2 == num3:
        return (num1 + num2+ num3) * 3
    return num1 + num2 + num3
result_sum = sum_three(3,3,3)
print(result_sum)

27

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [54]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]

def check_if_name_exists(single_name):
    if single_name in names:
        print(single_name + "" + " was found in the list")
        
      
    else:
        print(single_name + "" + " was not found in the list")

check_if_name_exists("Miriam")
check_if_name_exists("Peter")

Miriam was found in the list
Peter was not found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [60]:
def calculate_triangle_area(base, height):
    return 0.5 * height * base

In [57]:
print(calculate_triangle_area(10, 20))

100.0

In [ ]:
**Ex 16 Write a function that takes a name and if the name is longer than 5 letters, it will print name + "your names is too long" otherwise print "Hello" + name + "!"

**Ex 16 Write a function that takes a name and if the name is longer than 5 letters, it will print name + "your name is too long" otherwise print "Hello" + name + "!"

In [70]:
def name_analyser(name):
    if len(name) > 5:
        print(name + ", your name is too long")
    
    else: 
        print("Hello " + name + "!")
            
result = name_analyser("Sharon")

Sharon, your name is too long

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [111]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]
for ele in students:
    if(type(ele) == str):
        print(ele)

a = "Miriam"
b = ['22','23','43']

isinstance_result = isinstance(a,(float,tuple,int,list,tuple))
print(isinstance_result)

Miriam
Tim
Jing
Carlos
False

In [103]:
x = isinstance(5,int)
print(x)

True

In [105]:
x = isinstance("hello",(float,int))
print(x)

False

Miriam
Tim
Jing
Carlos

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [24]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]

for names, ages in zip(names,ages):
    print(names,ages)
    
##The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

Miriam 25
Tim 22
Jing 24
Carlos 33
Ruben 22
Ashley 21

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [113]:
my_dict = {22: 'Sharon',5:'Alejandro', 7:'Olrando', 8:'Oscar'}
print(my_dict)

{22: 'Sharon', 5: 'Alejandro', 7: 'Olrando', 8: 'Oscar'}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [130]:
grades = [12, 12, 12, 10, 7, 10]

my_dict = {
    "student1" : {
        "name": "Miriam",
         "age": 25, 
         "grade": 12
    },
    
    "student2" : {
        "name": "Tim",
         "age": 22, 
         "grade": 12
        
    },
    
     "student3" : {
        "name": "Jing",
         "age": 24, 
         "grade": 12
         
     },
    
     "student4" : {
        "name": "Carlos",
         "age": 33, 
         "grade": 10
         
     }
}
print(my_dict)

                       
##

{'student1': {'name': 'Miriam', 'age': 25, 'grade': 12}, 'student2': {'name': 'Tim', 'age': 22, 'grade': 12}, 'student3': {'name': 'Jing', 'age': 24, 'grade': 12}, 'student4': {'name': 'Carlos', 'age': 33, 'grade': 10}}




**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [132]:
my_dict = {
    "student1" : {
        "name": "Miriam",
         "age": 25, 
         "grade": 12
    },
    
    "student2" : {
        "name": "Tim",
         "age": 22, 
         "grade": 12
        
    },
    
     "student3" : {
        "name": "Jing",
         "age": 24, 
         "grade": 12
         
     },
    
     "student4" : {
        "name": "Carlos",
         "age": 33, 
         "grade": 10
         
     }
}


my_dict.pop("student1")
print(my_dict)

{'student2': {'name': 'Tim', 'age': 22, 'grade': 12}, 'student3': {'name': 'Jing', 'age': 24, 'grade': 12}, 'student4': {'name': 'Carlos', 'age': 33, 'grade': 10}}

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [20]:
for value in range (1,21):
    if value %6== 0: 
        print(value)

6
12
18

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [3]:
date = (25, 11, 1992)
#F-string in python to format the text
# print(date[0])

print(f"the holidays will begin on: {date[0]}/{date[1]}/{date[2]}")

# a dot before the function is called method 
# a method works on what is before the line

the holidays will begin on: 25/11/1992

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [4]:
inputnumber = int(input("supply a number:"))

if (inputnumber % 2) == 0:
    print("{0}is Even".format(inputnumber))

else:
    print("{0}is Odd".format(inputnumber))

supply a number:10
10is Even

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [1]:
inputname = str(input("what is your name:"))


print("hello",(inputname))

what is your name:sharon
hello sharon

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [5]:
x = int(input('enter first number'))
y = int(input('enter second number'))

print("enter operator")
z = input("+,/,-,*:")

if z == '/':
    result = x / y
elif z == '*':
    result = x * y
elif z == '+':
    result = x + y
elif z == '-':
    result = x - y
    
print(x,z,y,":", result)

enter first number10
enter second number0
enter operator
+,/,-,*:/

ZeroDivisionError: division by zero

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [3]:
def my_function(x):
    return x[::-1]

mytxt = my_function(str(input("enter text")))
print(mytxt)

enter textfamily
ylimaf

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [4]:
def isPalindrome(x):
    return x == x[::-1]

x = "radar"
ans = isPalindrome(x)

if ans:
    print("yes")
    
else:
    print("no")
    
    
def isPalindrome(x):
    return x == x[::-1]

x = "focus"
ans = isPalindrome(x)

if ans:
    print("yes")
    
else:
    print("no")

yes
no