In [1]:
import pandas as pd
import numpy as np

%config IPCompleter.greedy=True

#### In this exercises session, you will continue with the bike dataset. Please load it first.

In [2]:
df = pd.read_csv("../data/bikesharing/data.csv")
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

#### Convert the "timestamp" column to an actual timestamp. With the first timestamp in the list, find 2 new members and 2 new members functions. Hint: after typing the dot "." click a "Tab" and explore the list.

In [3]:
df["timestamp"] = pd.to_datetime(df["timestamp"], format="%Y-%m-%d %H:%M:%S")

ts = df["timestamp"][0]

print(ts)
print(ts.day_name())
print(ts.hour)
print(ts.days_in_month)
print(ts.date())
print(ts.dayofyear)
print(ts.minute)

2015-01-04 00:00:00
Sunday
0
31
2015-01-04
4
0

#### How many full weeks does this dataset cover? (a full week meaning from Monday to Sunday)

In [4]:
df["weekday"] = df.timestamp.dt.day_name()
df['just_date'] = df['timestamp'].dt.date
df = df.drop_duplicates('just_date')
df.reset_index(drop=True, inplace=True)
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,weekday,just_date
0,2015-01-04,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,Sunday,2015-01-04
1,2015-01-05,83,4.0,3.0,93.0,6.0,4.0,0.0,0.0,3.0,Monday,2015-01-05
2,2015-01-06,91,8.0,6.5,76.0,8.0,4.0,0.0,0.0,3.0,Tuesday,2015-01-06
3,2015-01-07,102,4.0,1.0,81.0,12.0,1.0,0.0,0.0,3.0,Wednesday,2015-01-07
4,2015-01-08,123,11.0,11.0,82.0,26.0,4.0,0.0,0.0,3.0,Thursday,2015-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...
725,2016-12-30,122,0.5,0.5,96.5,3.0,7.0,0.0,0.0,3.0,Friday,2016-12-30
726,2016-12-31,146,5.0,2.5,100.0,10.0,4.0,0.0,1.0,3.0,Saturday,2016-12-31
727,2017-01-01,933,7.5,5.0,84.5,14.0,3.0,0.0,1.0,3.0,Sunday,2017-01-01
728,2017-01-02,84,5.0,2.0,87.0,13.0,1.0,1.0,0.0,3.0,Monday,2017-01-02
729,2017-01-03,63,1.0,-2.0,90.0,11.0,1.0,0.0,0.0,3.0,Tuesday,2017-01-03

In [5]:
first_index = df[df.weekday == "Monday"].iloc[0].name
last_index = df[df.weekday == "Sunday"].iloc[-1].name
print(first_index)
print(last_index)
subset = df.loc[first_index:last_index]
subset

1
727

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,weekday,just_date
1,2015-01-05,83,4.0,3.0,93.0,6.0,4.0,0.0,0.0,3.0,Monday,2015-01-05
2,2015-01-06,91,8.0,6.5,76.0,8.0,4.0,0.0,0.0,3.0,Tuesday,2015-01-06
3,2015-01-07,102,4.0,1.0,81.0,12.0,1.0,0.0,0.0,3.0,Wednesday,2015-01-07
4,2015-01-08,123,11.0,11.0,82.0,26.0,4.0,0.0,0.0,3.0,Thursday,2015-01-08
5,2015-01-09,147,10.0,7.0,71.0,28.0,2.0,0.0,0.0,3.0,Friday,2015-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...
723,2016-12-28,98,1.0,0.0,100.0,3.0,1.0,0.0,0.0,3.0,Wednesday,2016-12-28
724,2016-12-29,131,2.0,0.0,100.0,7.0,1.0,0.0,0.0,3.0,Thursday,2016-12-29
725,2016-12-30,122,0.5,0.5,96.5,3.0,7.0,0.0,0.0,3.0,Friday,2016-12-30
726,2016-12-31,146,5.0,2.5,100.0,10.0,4.0,0.0,1.0,3.0,Saturday,2016-12-31
727,2017-01-01,933,7.5,5.0,84.5,14.0,3.0,0.0,1.0,3.0,Sunday,2017-01-01

In [6]:
subset.groupby("weekday")[["t1"]].count()

            t1
weekday
Friday     103
Monday     104
Saturday   104
Sunday     104
Thursday   104
Tuesday    104
Wednesday  104

#### What was the maximum temperature (column: t1) recorded on a Friday night (between 10p.m. and 6a.m.)?

In [7]:
df["hour"] = df.timestamp.dt.hour
def time_of_day(x):
    if (x > 6) and (x < 22):
        return "Day"
    else:
        return "Night"
df["time_of_day"] = df.hour.apply(time_of_day)
df.groupby(["weekday","time_of_day"], as_index=False)["t1"].max()

<ipython-input-7-882ef352f133>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["hour"] = df.timestamp.dt.hour
<ipython-input-7-882ef352f133>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["time_of_day"] = df.hour.apply(time_of_day)

     weekday time_of_day    t1
0     Friday         Day  22.0
1     Friday       Night  23.0
2     Monday       Night  21.0
3   Saturday         Day  21.0
4   Saturday       Night  20.0
5     Sunday       Night  21.0
6   Thursday       Night  24.5
7    Tuesday       Night  22.0
8  Wednesday       Night  21.5

#### Try to figure out what the single values of the column: weather_code mean. Create a new column which contains names of the seasons.

In [8]:
#Create a function to name seasons according to values in season column

def find_season_names(dataframe):
    if dataframe.season == 0.0:
        return 'spring'
    elif dataframe.season == 1.0:
        return 'summer'
    elif dataframe.season == 2.0:
        return 'autumn'
    else:
        return 'winter'
    
    
#Create season_names column and call the function 
df['season_names'] = df.apply(find_season_names, axis = 1)

#check season_names with different season column's values 
df.loc[df.season == 0.0]

<ipython-input-8-768074db5886>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['season_names'] = df.apply(find_season_names, axis = 1)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,weekday,just_date,hour,time_of_day,season_names
56,2015-03-01,272,11.5,11.5,85.0,28.0,3.0,0.0,1.0,0.0,Sunday,2015-03-01,0,Night,spring
57,2015-03-02,97,5.0,2.0,78.5,16.0,1.0,0.0,0.0,0.0,Monday,2015-03-02,0,Night,spring
58,2015-03-03,102,5.0,1.0,70.0,22.0,1.0,0.0,0.0,0.0,Tuesday,2015-03-03,0,Night,spring
59,2015-03-04,135,4.5,0.0,70.5,23.0,1.0,0.0,0.0,0.0,Wednesday,2015-03-04,0,Night,spring
60,2015-03-05,170,6.0,3.5,68.5,12.0,1.0,0.0,0.0,0.0,Thursday,2015-03-05,0,Night,spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,2016-05-27,349,12.5,12.5,82.0,18.0,1.0,0.0,0.0,0.0,Friday,2016-05-27,0,Night,spring
510,2016-05-28,539,13.0,13.0,85.0,11.0,1.0,0.0,1.0,0.0,Saturday,2016-05-28,0,Night,spring
511,2016-05-29,633,12.5,12.5,77.0,11.0,1.0,0.0,1.0,0.0,Sunday,2016-05-29,0,Night,spring
512,2016-05-30,536,13.0,13.0,85.0,13.0,3.0,1.0,0.0,0.0,Monday,2016-05-30,0,Night,spring
513,2016-05-31,226,14.0,14.0,69.5,26.0,4.0,0.0,0.0,0.0,Tuesday,2016-05-31,0,Night,spring

#### What was the average number of bike rides in winter? How was the number in the summer? What can you say about these numbers and is a direct comparison the right thing to do? Why? Why not?

In [9]:
#What was the average number of bike rides in winter? 

winter_bike_rides = df.loc[df.season == 3.0]['cnt'].mean()

#How was the number in the summer?
summer_bike_rides = df.loc[df.season == 1.0]['cnt'].mean()

print('Avg bikes rides in summer was {} and in winter it was {}'.format(int(summer_bike_rides), int(winter_bike_rides)))

Avg bikes rides in summer was 424 and in winter it was 210