# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

# Heading
**bold words**
*italics words*

Here is the [hyperlink] (https://stackoverflow.com/)

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [1]:
18 % 7

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [2]:
3**4

81

**Ex 4** Calculate the square root of 49

In [8]:
import math
math.sqrt(49)

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [15]:
pi = "3.14159265"
pi = float(pi)
print(round(pi,3))

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [22]:
x = 4.9
x = int(x)
print(type(x))

<class 'int'>

In [21]:
x = 4.9
int(x)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [19]:
x = 4.9
print(round(x))
#the difference with Ex 5 is that this there we just deleted the decimal and here we rounded it.

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [111]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
print(*names, sep = "\n")
print(len(names))

Miriam
Tim
Jing
Carlos
Ruben
Ashley
6

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [112]:
#names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
new_names = ["Pablo", "Lise"]
names.extend(new_names)
print(*names, sep = "\n")

Miriam
Tim
Jing
Carlos
Ruben
Ashley
Pablo
Lise

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [131]:
print(names[1 : 7: 5])

['Tim', 'Pablo']

**Ex 11** Calculate the sum and the average of the value in the following list

In [143]:
age = [11, 22, 33, 44, 22, 55]

def average (age):
    return sum(age) / len(age)
average = average(age)
print(average)
sum(age)

31.166666666666668

187

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [152]:
list.sort(age)
print(age)
age.count(22)

[11, 22, 22, 33, 44, 55]

2

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [206]:
#no pude! :(
#I don't understand the assignment

num1 = int(input("Number1: "))
num2 = int(input("Number2: "))
num3 = int(input("Number3: "))
result = num1 + num2 + num3
print(result)

Number1: 2
Number2: 4
Number3: 5
11

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [194]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
check_name = input("Write your name: ")


if check_name in names:
       print(f"{check_name} was found in the list")
else: 
       print(f"{check_name} was not found in the list")

Write your name: Sil
Sil was not found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [203]:
height = float(input("Height: "))
base = float(input("Base: "))
area = 0.5 
area * (height * base)

Height: 5
Base: 8

20.0

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [357]:
#why if I "comment" on the for_statement prints "Carlos"? 
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]
for nombre in students:
    if (type(nombre) == str):
     print(nombre)


students = isinstance(22 , (str))
print(students)

Miriam
Tim
Jing
Carlos
False

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [231]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
students_info = zip(names, ages)
print(list(students_info))

[('Miriam', 25), ('Tim', 22), ('Jing', 24), ('Carlos', 33), ('Ruben', 22), ('Ashley', 21)]

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [232]:
dict = {'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}
print(dict)

{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [254]:
#no pude! :(
#not happy about this
#grade = [12, 12, 12, 10, 7, 10]
#dict = {'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21,
        #grade:{12, 12, 12, 10, 7, 10}}
#print(dict)

dict = {'Miriam' : {'age': 25, 'grade': 12},
        'Tim' : {'age': 22, 'grade': 12},
        'Jing' : {'age': 24, 'grade': 12},
        'Carlos' : {'age': 33, 'grade': 10},
        'Ruben' : {'age': 22, 'grade': 7},
        'Ashley' : {'age': 21, 'grade': 10}}

print(dict)

{'Miriam': {'age': 25, 'grade': 12}, 'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashley': {'age': 21, 'grade': 10}}

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [ ]:
#no pude! :(

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [267]:
for num_1 in range(1,21):
 if num_1 % 6 == 0:
   print(num_1)

6
12
18

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [280]:
#no pude! :(
date = (25, 11, 1992)
print("The holidays will begin on: " + str(date))

The holidays will begin on: (25, 11, 1992)

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [291]:
num_ero = int(input("Enter number: "))
if num_ero % 2 == 0:
 print("The number is even")
else:
 print("The number is odd")

Enter number: 5
The number is odd

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [293]:
#it's not a program
nom_bre = str(input("Please type your username: "))
print("Hello " + nom_bre)

Please type your username: Adrian
Hello Adrian

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [356]:
#no pude! :(

num_ero = input("Please type two numbers and a mathematical operator. All 3 inputs must be separated by a whitespace: ")
num_ero = number1, number2, operator
number1 = ''
number2 = ''
operator = ''

if (operator == '+'):
 print(int(number1) + int(number2))
elif (operator == '-'):
 print(int(number1) - int(number2))
elif (operator == '*'):
 print(int(number1) * int(number2))
elif (operator == '/'):
 print(int(number1) / int(number2))

Please type two numbers and a mathematical operator. All 3 inputs must be separated by a whitespace: 2 4 +

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [381]:
num_ero = int(input("Please type a number: "))
if (num_ero < 0): 
 print("pick a different number: ")

Please type a number: -2
pick a different number:

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [377]:
#no program
#def de_reversa(phrase):
de_reversa = input("Pick a phrase: ")
de_reversa = de_reversa.split(' ')
reverse_sentence = ' '.join(reversed(de_reversa)) 
  # return reverse_sentence
 #  input = 'My name is Michele'
print (reverse_sentence)

Pick a phrase: My name is Michele
Michele is name My

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [355]:
pa_li = input("Pick a word: ")
rev = ''.join(reversed(pa_li))
if (pa_li == rev):
 print(pa_li + " is a Palindrome")
else:
 print(pa_li + " is not a Palindrome")

Pick a word: bbabb
bbabb is a Palindrome