#### Import pandas library using alias pd.

In [2]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df. Use the first column as index.

In [3]:
file_name = 'data/Recipes.csv'
df = pd.read_csv(file_name,index_col= 0) 
df

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,True,True,False,False,5.0,1,659412,Saut√©ed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### Print the type of variable df.

In [4]:
type(df)

pandas.core.frame.DataFrame

#### Print the number of columns and number of rows of the df DataFrame.

In [5]:
print(df.shape)

(150, 78)

#### What are the names of the columns in df?

In [6]:
df.columns

Index(['vegetarian', 'glutenFree', 'dairyFree', 'veryHealthy', 'healthScore',
       'aggregateLikes', 'id', 'title', 'pricePerServing', 'readyInMinutes',
       'servings', 'sourceUrl', 'CaloriesAmount', 'CaloriespercentOfDailyNeed',
       'FatAmount', 'FatpercentOfDailyNeed', 'SaturatedFatAmount',
       'SaturatedFatpercentOfDailyNeed', 'CarbohydratesAmount',
       'CarbohydratespercentOfDailyNeed', 'NetCarbohydratesAmount',
       'NetCarbohydratespercentOfDailyNeed', 'SugarAmount',
       'SugarpercentOfDailyNeed', 'CholesterolAmount',
       'CholesterolpercentOfDailyNeed', 'SodiumAmount',
       'SodiumpercentOfDailyNeed', 'ProteinAmount',
       'ProteinpercentOfDailyNeed', 'FiberAmount', 'FiberpercentOfDailyNeed',
       'VitaminB6Amount', 'VitaminB6percentOfDailyNeed', 'ManganeseAmount',
       'ManganesepercentOfDailyNeed', 'SeleniumAmount',
       'SeleniumpercentOfDailyNeed', 'PotassiumAmount',
       'PotassiumpercentOfDailyNeed', 'VitaminB2Amount',
       'VitaminB2percentOfDailyNeed', 'VitaminCAmount',
       'VitaminCpercentOfDailyNeed', 'PhosphorusAmount',
       'PhosphoruspercentOfDailyNeed', 'FolateAmount',
       'FolatepercentOfDailyNeed', 'VitaminB5Amount',
       'VitaminB5percentOfDailyNeed', 'MagnesiumAmount',
       'MagnesiumpercentOfDailyNeed', 'IronAmount', 'IronpercentOfDailyNeed',
       'VitaminKAmount', 'VitaminKpercentOfDailyNeed', 'CopperAmount',
       'CopperpercentOfDailyNeed', 'VitaminAAmount',
       'VitaminApercentOfDailyNeed', 'VitaminB12Amount',
       'VitaminB12percentOfDailyNeed', 'VitaminDAmount',
       'VitaminDpercentOfDailyNeed', 'ZincAmount', 'ZincpercentOfDailyNeed',
       'VitaminEAmount', 'VitaminEpercentOfDailyNeed', 'VitaminB3Amount',
       'VitaminB3percentOfDailyNeed', 'VitaminB1Amount',
       'VitaminB1percentOfDailyNeed', 'CalciumAmount',
       'CalciumpercentOfDailyNeed', 'AlcoholAmount',
       'AlcoholpercentOfDailyNeed', 'CaffeineAmount',
       'CaffeinepercentOfDailyNeed'],
      dtype='object')

#### Rename column id to RecipeId. Drop column "veryHealthy".

In [7]:
#Create a function to check column exists or not and print out the checking
def check_exist(col):
    if col in df:
        return True
    else:
        return False
    
def printIfTrue(shouldOPrint):
    if(shouldPrint):
        print("Column", col, "exists in the DataFrame.")
    else:
        print ("Column", col, "does not exist in the DataFrame.")
    
#Check 'veryHealthy' exist or not, if exist then remove it
if(check('veryHealthy') == True):
    df = df.drop(columns=['veryHealthy'])

df = df.rename(columns={"id": "RecipeId"})



#df.columns
    
col = 'veryHealthy'
printIfTrue(check_exist(col))
df

NameError: name 'check' is not defined

In [ ]:
df

#### Some questions to think of for yourself. Feel free to ask us if you are in doubt, we are open for a discussion! :)

1. Are there any other columns in this dataset that you would consider a candidate for the index column? Why isn't is always a good idea to use a string as index?
2. Take a closer look at arguments "axis" and "inplace" in functions drop(...) and rename(...). Maybe google for documentation if you are not sure what they mean.
        What happens if you wanted to rename a column that is not there?
        What happens if you set the argument inplace=True?

Q1: Are there any other columns in this dataset that you would consider a candidate for the index column
### Answer: RecipeId

Q1: Why isn't is always a good idea to use a string as index?
### Answer: String index is harder to be ensured it is unique, and it may run slower than integer index.

Q2: What happens if you wanted to rename a column that is not there?
### Nothing happens, if that column doest exist, there is nothing to rename. But it will err if I try dropping one column that doesnt exist.

Q2: What happens if you set the argument inplace=True? 
### The removing part is saved into the original file, meaning that when you try printing the dataframe again, the removing part doesnt exist anymore on that one.

#### Import pandas library using alias pd.

In [ ]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df_ex1. Use the first column as index.

In [ ]:
df_ex1 = pd.read_csv(file_name, index_col = 0) 
df_ex1

#### See if the 34th recipe on the list is vegetarian (remember the 0-based indexing!). Please do this in 4 different ways. Be careful with how .iloc and .loc handle things.

In [ ]:
df_ex1["vegetarian"][33]

df_ex1.loc[33,"vegetarian"]
df_ex1.iloc[33,1]

df_ex1.iat[33,1]

df_ex1.at[33,'vegetarian']

#### Choose columns with the following info and in the following order: title, price and if it is vegetarian

In [ ]:
df_ex1[['title','pricePerServing','vegetarian']]

#### And now the same for recipes number from 24 to 29

In [ ]:
df_ex1[['title','pricePerServing','vegetarian']].loc[24:29]

#### Play with some slicing and accesing. Do you understand the result that you obtain from different trials? Please feel free to ask us about what you see! :)

In [ ]:
df_ex1[0:4] #select rows 0,1,2,3

In [ ]:
df_ex1[:5] #select the first 5 rows (rows 0,1,2,3,4)

In [ ]:
df_ex1[-1:] #select the last element in the dataframe

In [ ]:
# Slicing Subsets of Rows and Columns

df_ex1.iloc[5:10, 1:4] #Start at index row 5,6,7,8,9 and column 2, 3,4

In [ ]:
df_ex1.loc[[0,10],:] #select all columns for rows of index value 0 and 10

In [2]:
df_ex1.loc[1,['title','pricePerServing','vegetarian']]

NameError: name 'df_ex1' is not defined

In [1]:
df_ex1.loc[[0,10,38],:] #select all columns for row 0, 10, 38

NameError: name 'df_ex1' is not defined

#### Notice which slicing methods are inclusive and which of them are exclusive. Try to figure your favourite way of accesing / slicing and remember that sometimes some of them make more sense than the others.

In [ ]:
iloc is exclusive, loc is inclusive, df[:index_number] is exclusive

### Class-exercise 2

In [11]:
import numpy as np

1. Create a 2-d and 3-d numpy integer array

In [ ]:
#Create 2d numpy integer array (3,2)
numpy_2d_array = np.array([[1, 2, 3], [4, 5, 6]])

#Create 3d numpy integer array (4,2,3)

numpy_3d_array = np.array([[[1,2,3],[4,5,6]],[[4,5,6],[7,8,9]],[[10,11,12],[12,13,14]],[[12,13,14],[14,15,16]]])
print(numpy_3d_array)
#numpy_3d_array.ndim

2. Create a 2X2 integer array and show it's dimensions

In [ ]:
#Create 2d numpy integer array
array = np.array([[1, 2], [4, 5]])
array.ndim

3. Create a numpy array and  print the sum of third and fourth elements from the array

In [ ]:
def sum_2_elements(arr, index1, index2):
    return (arr[index1]) + (arr[index2])
    
numpy_array = np.array([1, 2, 3, 4, 5]) 
numpy_array[3]

sum_2_elements(numpy_array,2,3)

4. Slice the below array to get the the second item to the excluding fifth item

arr = np.array([10, 15, 20, 25, 30, 35, 40])

In [ ]:
arr = np.array([10, 15, 20, 25, 30, 35, 40])
arr[1:4]

5. Try example 4. using STEP method

In [ ]:
arr[1:4:2]

6. Create a integer array and change data type from integer to boolean

In [ ]:
np.array([0,1,0,1,2,3],dtype=bool)

7. Use NumPy syntax to check the shape of an array.

arr = np.array([1, 2, 3, 4, 5])

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
#np.shape(arr)
arr.shape

8. Find the indexes where the values are even:

arr = [16, 8, 3, 7, 15, 24]

In [ ]:
arr = [16, 8, 3, 7, 15, 24]
arr = np.array(arr)
arr[arr % 2 == 0]

9. Create a numpy array of 5 person names and sort the values alpbabetically

In [9]:
family_np_array = ['Bojji','Daida','Hiling','Miranjo','Bosse']

#np.sort(family_np_array)

family_np_array.sort()
family_np_array

['Bojji', 'Bosse', 'Daida', 'Hiling', 'Miranjo']

10. Use the correct NumPy method to return a sorted array.

  arr = np.array([3, 2, 0, 1])

In [12]:
arr = np.array([3, 2, 0, 1])
arr = np.sort(arr)
arr

array([0, 1, 2, 3])