# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

## I did the exercise 
**Write** *words* ***in bold*** and italics
Establish a hyperlink [hihi](http://gmail.com)

In [48]:
print ("hello world")

hello world

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [49]:
18 % 7

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [50]:
pow (3,4)

81

In [51]:
3**4

81

**Ex 4** Calculate the square root of 49

In [52]:
import math
math.sqrt (49)

7.0

In [53]:
49**0.5

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [54]:
pi = "3.14159265"
round(float(pi), 3)

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [55]:
int(4.9)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [56]:
round(4.9)

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [2]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"] 
count = 0
for name in names:
    print(name)
    count = count + 1
    
print(count)

Miriam
Tim
Jing
Carlos
Ruben
Ashley
6

In [4]:
print(*names, sep="\n")
len(names)

Miriam
Tim
Jing
Carlos
Ruben
Ashley

6

In [9]:
for n in range(len(names)):
    print(names[n])

Miriam
Tim
Jing
Carlos
Ruben
Ashley

In [8]:
i = 0
while i < len(names):
    print(names[i])
    i = i + 1

Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [14]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"] 
new_names = ["Pablo", "Lise"]

for new_name in new_names:
    #names.insert(len(names), new_name)
    names.append(new_name)

print(names)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

In [20]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"] 
new_names = ["Pablo", "Lise"]
names.extend(new_names)
print(names)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [59]:
print(names[1])
print(names[-2])

Tim
Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [30]:
age = [11, 22, 33, 44, 22, 55]
print(sum(age))
print(sum(age)/len(age))

187
31.166666666666668

In [22]:
sum_age = 0
for an_age in age:
    sum_age = sum_age + an_age
    
print(sum_age)

187

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [32]:
age.sort()
# sorted(age)
print(age)
print(age.count(22))

[11, 22, 22, 33, 44, 55]
2

In [28]:
count_22 = 0
for an_age in age:
    if an_age == 22:
        count_22 = count_22 + 1
    
print(count_22)

2

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [62]:
def sum_of_three(num_1, num_2, num_3):
    if num_1 == num_2 == num_3:
        sum_of_equal_values = 3*(num_1 + num_2 + num_3)
        print(sum_of_equal_values)
        return sum_of_equal_values
    else:
        sum_of_unequal_values = num_1 + num_2 + num_3
        print(sum_of_unequal_values)
        return sum_of_unequal_values
        
result = sum_of_three(1, 2, 3)
result2 = sum_of_three(1, 1, 1)
sum_of_three(2, 2, 2)
sum_of_three(10, 11, 10)

print(f"result 1: {result}")
print(f"result 2: {result2}")
print(f"result 1 > result 2")
print(result > result2)

6
9
18
31
result 1: 6
result 2: 9
result 1 > result 2
False

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [63]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]

def value_check(name):
    if name in names:
        print(f"{name} was found in the list")
    else:
        print(f"{name} was not found in the list")
        
value_check("Miriam")
value_check("Peter")

Miriam was found in the list
Peter was not found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [44]:
def calculate_area():
    base = float(input("Input the base: "))
    height = float(input("Input the height: "))
    area = 0.5 * base * height
    print("Area = ", area)

calculate_area()

Input the base: 3
Input the height: 4
Area =  6.0

**Ex16** Write a function that chakes a name and if the name is longer than 5 letters, it will print name+ ",your name is too long" otherwise print "Hello" + name+"!"

In [39]:
def say_hello(person):
    if len(person) > 5:
        print(f"{person}, your name is too long.")
    else:
        print(f"Hello {person}!")

say_hello("Phuong")
say_hello("Anh")

Phuong, your name is too long
Hello Anh!

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [1]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]

for student in students:
    if isinstance(student, str):
        print(student)
        
print(True and True)
print(True and False)
print(True or True)
print(True or False)

Miriam
Tim
Jing
Carlos
True
False
True
True

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [2]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]

student_zip = zip(names, ages)
names_ages = list(student_zip)

print(names_ages)

for name_age in names_ages:
    print(f"{name_age[0]}, {name_age[1]}")

[('Miriam', 25), ('Tim', 22), ('Jing', 24), ('Carlos', 33), ('Ruben', 22), ('Ashley', 21)]
Miriam, 25
Tim, 22
Jing, 24
Carlos, 33
Ruben, 22
Ashley, 21

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [4]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
student_zip = zip(names, ages)
student_dict = dict(student_zip)
print(student_dict)

{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [37]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
grades = [12, 12, 12, 10, 7, 10]

student_dict1 = {}

for index, name in enumerate(names):
    ages_grades_dict1 = {"age": ages[index], "grade": grades[index]}
    student_dict1[name] = ages_grades_dict1

print(student_dict1)

{'Miriam': {'age': 25, 'grade': 12}, 'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashley': {'age': 21, 'grade': 10}}

In [38]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
grades = [12, 12, 12, 10, 7, 10]

student_dict2 = {}
for name, age, grade in zip(names, ages, grades):
    ages_grades_dict2 = {"age": age, "grade": grade}
    student_dict2[name] = ages_grades_dict2
    
print(student_dict2)

{'Miriam': {'age': 25, 'grade': 12}, 'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashley': {'age': 21, 'grade': 10}}

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [44]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
grades = [12, 12, 12, 10, 7, 10]

student_dict2 = {}
for name, age, grade in zip(names, ages, grades):
    ages_grades_dict2 = {"age": age, "grade": grade}
    student_dict2[name] = ages_grades_dict2
    
del student_dict2['Miriam']

print (student_dict2)

{'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashley': {'age': 21, 'grade': 10}}

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [49]:
sequence = list(range(1,21))

for number in sequence:
    if number % 6 == 0:
        print(number)

6
12
18

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [50]:
date = (25, 11, 1992)

print(f"The holidays will begin on: {date[0]}/{date[1]}/{date[2]}")

The holidays will begin on: 25/11/1992

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [41]:
def even_or_odd(number):
    if number % 2 == 0:
        print(f"{number} is an even number.")
    else:
        print(f"{number} is an odd number.")
        
even_or_odd(10)
even_or_odd(5)

10 is an even number.
5 is an odd number.

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [6]:
def type_username():
    username = input("Please type your username: ")
    print(f"Hello {username}!")
    
type_username()

Please type your username: Phuong
Hello Phuong!

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [43]:
from operator import add, sub, mul, truediv
operator_dict = {'+': add, '-': sub, '*': mul, '/': truediv}

num_1, num_2, opr = input("Please type 2 numbers and a mathematical operator, separated by a whitespace: ").split()

result = operator_dict[opr](float(num_1), float(num_2))

print("The result is: " + str(result))

Please type 2 numbers and a mathematical operator, separated by a whitespace: 3 4 *
The result is: 12.0

In [49]:
str_num_1, str_num_2, opr = input("Please type 2 numbers and a mathematical operator, separated by a whitespace: ").split()
num_1 = float(str_num_1)
num_2 = float(str_num_2)

if opr == '+':
    result = num_1 + num_2
elif opr == '-':
    result = num_1 - num_2
elif opr == '*':
    result = num_1 * num_2
elif opr == '/':
    result = num_1 / num_2

print("The result is: " + str(result))

Please type 2 numbers and a mathematical operator, separated by a whitespace: 2 3 +
The result is: 5.0

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [93]:
def factorial():
    your_input = input("Give me a number: ")
    try:
        num = int(your_input)
    except:
        print("I can't work with that. You need to give a positive integer.")
    else:
        if num < 0:
            print("I can't work with that. You need to give a positive integer.")
        elif num == 0:
            print("factorial(0) = 1")
            return 1
        else: 
            fac = 1
            for n in range(1,num+1):
                fac = fac * n
            print(f"factorial({num}) = {fac}")
            return fac

factorial()

Give me a number: 4
factorial(4) = 24

24

In [31]:
def calculate_factorial(num):
    if num in range(0,2):
        return 1
    else:
        return calculate_factorial(num-1) * num
        
num = input("Give me a number: ")
try:
    num = int(num)
except:
    print("I can't work with that. You need to give a positive integer.")
else:
    if num < 0:
        print("I can't work with that. You need to give a positive integer.")
    else:
        result = calculate_factorial(num) 
        print(f"factorial({num}) = {result}")

Give me a number: n
I can't work with that. You need to give a positive integer.

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [46]:
def resort_string():
    text = input("Please write something non-sense: ")
    text_list = text.split()
    text_list.reverse()
    reversed_text = ' '.join(text_list)
    print(reversed_text)

resort_string()

Please write something non-sense: hihi haha hehe
hehe haha hihi

In [50]:
def resort_string2(text2):
    text2_list = text2.split()
    reversed_text2 = ''
    for word in text2_list:
        reversed_text2 = word + " " + reversed_text2
    print(reversed_text2)
    
text2 = input("Please write something non-sense: ")
resort_string2(text2)

Please write something non-sense: hi ha he ho hu
hu ho he ha hi

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [67]:
def palindrome_check(string):
    string_list = list(string.lower())
    reverse_string_list = list(reversed(string_list))
    if string_list == reverse_string_list:
        print(f"{string} is a Palindrome")
    else:
        print(f"{string} is not a Palindrome")
        
palindrome_check("Tenet")
palindrome_check("China")

Tenet is a Palindrome
China is not a Palindrome