# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

In [1]:
bold = '\033[1m'
italics = '\033[3m'
end = '\033[0m'
print (italics + bold + 'Kavipriya' + end)
hyperlink_format = '<a href="{link}">{text}</a>'
hyperlink_format.format(link='https://en.wikipedia.org/wiki/Hyperlink', text='linky text')
'<a href="https://en.wikipedia.org/wiki/Hyperlink">linky text</a>'

Kavipriya

'<a href="https://en.wikipedia.org/wiki/Hyperlink">linky text</a>'

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [2]:
18%7

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [3]:
3**4

81

**Ex 4** Calculate the square root of 49

In [4]:
import math
math.sqrt(49)

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [5]:
pi = "3.14159265"
f=float(pi)
round(f,3)

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [6]:
int(4.9)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [7]:
round(4.9,0)

5.0

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \

Miriam 
Tim
Jing 
...

In [8]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
print(len(names))
print(*names,sep='\n')

6
Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [9]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
new_names = ["Pablo", "Lise"]
names.extend(new_names)
print(names)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [10]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley","Pablo", "Lise"]
print(names[1])
print (names[-2])

Tim
Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [11]:
age = [11, 22, 33, 44, 22, 55]
res = sum(age)
avg = res / len(age)
print("sum is: ", res, "Average is: ", avg)

sum is:  187 Average is:  31.166666666666668

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [12]:
age = [11, 22, 33, 44, 22, 55]
age.sort()
print(age)
age.count(22)

[11, 22, 22, 33, 44, 55]

2

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [13]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(4, 3, 3))
print(sum_thrice(5, 5, 5))

6
10
45

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [14]:


#function
def check(list,element):
    #for i in list:
        if (element in list):
          print (element,"was  found in the list")
        else:
         print(element,"was not found in the list")
        
       # if i==element:
           #print(element, "was found in the list")
    #else:
        # print(element,"was not found in the list")
         
#initialise list
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
#element= "Miriam"
element = input('Please Enter the value ')

#element= "Peter"
# checking if both values are works in runtime

print("Check if",element,"is in the",names)
check(names,element)

Please Enter the value Miriam
Check if Miriam is in the ['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley']
Miriam was  found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [15]:
def aroftrigle(base, height):
    return (0.5 * height * base)

base = int(input('Please Enter the Base of a Triangle: '))
height = int(input('Please Enter the Height of a Triangle: '))

# calculate the area
area = aroftrigle(base, height)
print("The Area of a Triangle using", base, "and", height, " = ", area)

Please Enter the Base of a Triangle: 5
Please Enter the Height of a Triangle: 6
The Area of a Triangle using 5 and 6  =  15.0

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [16]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]

### Rami's note: Good solution, but you still printed both. The exercise was to ONLY print the strings :)

def check_number(var):
    if isinstance(var, str):
        print( var, 'is instance of string type')
    else:
        print( var, 'is not instance of string type')

for i in students:
  #print (i)
  check_number(i)

# check if numbers is instance of list
#result = isinstance(students[0], str)
#print(result)

# Output: True

Miriam is instance of string type
22 is not instance of string type
Tim is instance of string type
25 is not instance of string type
Jing is instance of string type
28 is not instance of string type
Carlos is instance of string type

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [17]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
x = zip(names, ages)
print(tuple(x))

## Good solution. But tuple at the end is not needed. You need instead to loop the zip using "for" and print them

(('Miriam', 25), ('Tim', 22), ('Jing', 24), ('Carlos', 33), ('Ruben', 22), ('Ashley', 21))

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [18]:
students = {
  "Miriam": 25,
  "Tim": 22,
  "Jing": 24,
  "Carlos": 33,
  "Ruben": 22,
  "Ashley": 21
}
print(students)

## Technically solves the task but you did it manually. Can you find a way to programatically create the dictionary?

{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [19]:
grades = [12, 12, 12, 10, 7, 10]
students = {
  "Miriam" : {
    "age" : 25,
    "grade" : 12
  },
  "Tim" : {
    "age" : 22,
    "grade" : 12
  },
  "Jing" : {
    "age" : 24,
    "grade" : 12
  },
     "Carlos" : {
    "age" : 33,
    "grade" : 10
  },
  "Ruben" : {
    "age" : 22,
    "grade" : 7
  },
  "Ashely" : {
    "age" : 21,
    "grade" : 10
  }
}

print(students)
## Technically solves the task but you did it manually and that's not efficient. Can you find a way to programatically create the dictionary?

{'Miriam': {'age': 25, 'grade': 12}, 'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashely': {'age': 21, 'grade': 10}}

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [20]:
students.pop("Miriam")
print(students)

{'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashely': {'age': 21, 'grade': 10}}

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [22]:
numbers = range(1, 20)

sequence_of_numbers = []
for number in numbers:
   if number % 6 == 0: ## the if here is colored red, be sure to check the indentation (spacing). Always use tabs before a line, not spaces
      sequence_of_numbers.append(number)

print(sequence_of_numbers)

[6, 12, 18]

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [ ]:
date = (25, 11, 1992)

In [ ]:
## Check this out and see if it helps https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [24]:
num=int(input("Enter a number for check odd or even: "))
def find_Evenodd(num):
    
    if(num%2==0):
        print(num," Is an even number")
    else:
        print(num," is an odd number")

find_Evenodd(num)

Enter a number for check odd or even: 6
6  Is an even number

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [25]:
name=input("Please type your username :")
print("Hello",name)

Please type your username :Rami
Hello Rami

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [26]:

x=int(input("Please input the first number"))
print("First number is recorded as", x)
y=int(input("Please input the second number"))
print("Second number is recorded as", y)
z=input("Please input your first operator")
print("Your operator is recorded as", z)
if (z == "-"):
    result = x - y
    print(result)
elif (z == "+"):
    result = x + y
    print(result)
elif (z == "/"):
    result = x / y
    print(result)
elif (z == "*"):
    result = x * y
    print(result)
else:
 print("Invalid operator entered.")

Please input the first number4
First number is recorded as 4
Please input the second number5
Second number is recorded as 5
Please input your first operator*
Your operator is recorded as *
20

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [33]:
def factorial(n):
  if not ((n >= 0) and (n % 1 == 0)): ## Condition is too complicated. try and simplify it.
    return("Number can't be negative or floating point!")
  return 1 if n == 0 else n * factorial(n - 1)

n=int(input("Input a number to compute the factiorial : "))
print(factorial(n),"= factorial (",n,")")


## Fails when a float is entered. Check your conditions

Input a number to compute the factiorial : 8.5

ValueError: invalid literal for int() with base 10: '8.5'

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [34]:
str= input("Enter the long string containing multiple words ")
words = str.split()
words = list(reversed(words))
print(" ".join(words))

Enter the long string containing multiple words Hello my name is rami
rami is name my Hello

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [37]:
string= input("Enter the string to check the string is Palindrome or not ")
string=string.lower()
if(string==string[::-1]): ## Very good use of indexing
      print(string ,"is a palindrome")
else:
      print(string,"not a palindrome")

Enter the string to check the string is Palindrome or not tenet
tenet is a palindrome