#### Import pandas library using alias pd.

In [12]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df. Use the first column as index.

In [25]:
df = pd.read_csv("data/Recipes.csv", index_col=0)

#### Print the type of variable df.

In [26]:
df

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,True,True,False,False,5.0,1,659412,Saut√©ed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### Print the number of columns and number of rows of the df DataFrame.

In [20]:
df.info()
#len(df)
#len(df.columns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 78 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   vegetarian                          150 non-null    bool
 1   glutenFree                          150 non-null    bool
 2   dairyFree                           150 non-null    bool
 3   veryHealthy                         150 non-null    bool
 4   healthScore                         150 non-null    float64
 5   aggregateLikes                      150 non-null    int64
 6   id                                  150 non-null    int64
 7   title                               150 non-null    object
 8   pricePerServing                     150 non-null    float64
 9   readyInMinutes                      150 non-null    int64
 10  servings                            150 non-null    int64
 11  sourceUrl                           150 non-null    object
 12  CaloriesAmount                      150 non-null    float64
 13  CaloriespercentOfDailyNeed          150 non-null    float64
 14  FatAmount                           150 non-null    float64
 15  FatpercentOfDailyNeed               150 non-null    float64
 16  SaturatedFatAmount                  150 non-null    float64
 17  SaturatedFatpercentOfDailyNeed      150 non-null    float64
 18  CarbohydratesAmount                 150 non-null    float64
 19  CarbohydratespercentOfDailyNeed     150 non-null    float64
 20  NetCarbohydratesAmount              150 non-null    float64
 21  NetCarbohydratespercentOfDailyNeed  150 non-null    float64
 22  SugarAmount                         150 non-null    float64
 23  SugarpercentOfDailyNeed             150 non-null    float64
 24  CholesterolAmount                   150 non-null    float64
 25  CholesterolpercentOfDailyNeed       150 non-null    float64
 26  SodiumAmount                        150 non-null    float64
 27  SodiumpercentOfDailyNeed            150 non-null    float64
 28  ProteinAmount                       150 non-null    float64
 29  ProteinpercentOfDailyNeed           150 non-null    float64
 30  FiberAmount                         142 non-null    float64
 31  FiberpercentOfDailyNeed             142 non-null    float64
 32  VitaminB6Amount                     140 non-null    float64
 33  VitaminB6percentOfDailyNeed         140 non-null    float64
 34  ManganeseAmount                     146 non-null    float64
 35  ManganesepercentOfDailyNeed         146 non-null    float64
 36  SeleniumAmount                      134 non-null    float64
 37  SeleniumpercentOfDailyNeed          134 non-null    float64
 38  PotassiumAmount                     143 non-null    float64
 39  PotassiumpercentOfDailyNeed         143 non-null    float64
 40  VitaminB2Amount                     146 non-null    float64
 41  VitaminB2percentOfDailyNeed         146 non-null    float64
 42  VitaminCAmount                      119 non-null    float64
 43  VitaminCpercentOfDailyNeed          119 non-null    float64
 44  PhosphorusAmount                    147 non-null    float64
 45  PhosphoruspercentOfDailyNeed        147 non-null    float64
 46  FolateAmount                        144 non-null    float64
 47  FolatepercentOfDailyNeed            144 non-null    float64
 48  VitaminB5Amount                     136 non-null    float64
 49  VitaminB5percentOfDailyNeed         136 non-null    float64
 50  MagnesiumAmount                     142 non-null    float64
 51  MagnesiumpercentOfDailyNeed         142 non-null    float64
 52  IronAmount                          147 non-null    float64
 53  IronpercentOfDailyNeed              147 non-null    float64
 54  VitaminKAmount                      138 non-null    float64
 55  VitaminKpercentOfDailyNeed          138 non-null    float64
 56  CopperAmount                        144 non-null    float64
 57  CopperpercentOfDailyNeed            144 non-null    float64
 58  VitaminAAmount                      137 non-null    float64
 59  VitaminApercentOfDailyNeed          137 non-null    float64
 60  VitaminB12Amount                    93 non-null     float64
 61  VitaminB12percentOfDailyNeed        93 non-null     float64
 62  VitaminDAmount                      75 non-null     float64
 63  VitaminDpercentOfDailyNeed          75 non-null     float64
 64  ZincAmount                          139 non-null    float64
 65  ZincpercentOfDailyNeed              139 non-null    float64
 66  VitaminEAmount                      138 non-null    float64
 67  VitaminEpercentOfDailyNeed          138 non-null    float64
 68  VitaminB3Amount                     139 non-null    float64
 69  VitaminB3percentOfDailyNeed         139 non-null    float64
 70  VitaminB1Amount                     143 non-null    float64
 71  VitaminB1percentOfDailyNeed         143 non-null    float64
 72  CalciumAmount                       142 non-null    float64
 73  CalciumpercentOfDailyNeed           142 non-null    float64
 74  AlcoholAmount                       21 non-null     float64
 75  AlcoholpercentOfDailyNeed           21 non-null     float64
 76  CaffeineAmount                      9 non-null      float64
 77  CaffeinepercentOfDailyNeed          9 non-null      float64
dtypes: bool(4), float64(68), int64(4), object(2)
memory usage: 88.5+ KB

#### What are the names of the columns in df?

In [21]:
df.columns

Index(['vegetarian', 'glutenFree', 'dairyFree', 'veryHealthy', 'healthScore',
       'aggregateLikes', 'id', 'title', 'pricePerServing', 'readyInMinutes',
       'servings', 'sourceUrl', 'CaloriesAmount', 'CaloriespercentOfDailyNeed',
       'FatAmount', 'FatpercentOfDailyNeed', 'SaturatedFatAmount',
       'SaturatedFatpercentOfDailyNeed', 'CarbohydratesAmount',
       'CarbohydratespercentOfDailyNeed', 'NetCarbohydratesAmount',
       'NetCarbohydratespercentOfDailyNeed', 'SugarAmount',
       'SugarpercentOfDailyNeed', 'CholesterolAmount',
       'CholesterolpercentOfDailyNeed', 'SodiumAmount',
       'SodiumpercentOfDailyNeed', 'ProteinAmount',
       'ProteinpercentOfDailyNeed', 'FiberAmount', 'FiberpercentOfDailyNeed',
       'VitaminB6Amount', 'VitaminB6percentOfDailyNeed', 'ManganeseAmount',
       'ManganesepercentOfDailyNeed', 'SeleniumAmount',
       'SeleniumpercentOfDailyNeed', 'PotassiumAmount',
       'PotassiumpercentOfDailyNeed', 'VitaminB2Amount',
       'VitaminB2percentOfDailyNeed', 'VitaminCAmount',
       'VitaminCpercentOfDailyNeed', 'PhosphorusAmount',
       'PhosphoruspercentOfDailyNeed', 'FolateAmount',
       'FolatepercentOfDailyNeed', 'VitaminB5Amount',
       'VitaminB5percentOfDailyNeed', 'MagnesiumAmount',
       'MagnesiumpercentOfDailyNeed', 'IronAmount', 'IronpercentOfDailyNeed',
       'VitaminKAmount', 'VitaminKpercentOfDailyNeed', 'CopperAmount',
       'CopperpercentOfDailyNeed', 'VitaminAAmount',
       'VitaminApercentOfDailyNeed', 'VitaminB12Amount',
       'VitaminB12percentOfDailyNeed', 'VitaminDAmount',
       'VitaminDpercentOfDailyNeed', 'ZincAmount', 'ZincpercentOfDailyNeed',
       'VitaminEAmount', 'VitaminEpercentOfDailyNeed', 'VitaminB3Amount',
       'VitaminB3percentOfDailyNeed', 'VitaminB1Amount',
       'VitaminB1percentOfDailyNeed', 'CalciumAmount',
       'CalciumpercentOfDailyNeed', 'AlcoholAmount',
       'AlcoholpercentOfDailyNeed', 'CaffeineAmount',
       'CaffeinepercentOfDailyNeed'],
      dtype='object')

#### Rename column id to RecipeId. Drop column "veryHealthy".

In [27]:
df = df.rename(columns={"id":"RecipeId"})
df.drop("veryHealthy", axis=1,inplace=True)
df

,vegetarian,glutenFree,dairyFree,healthScore,aggregateLikes,RecipeId,title,pricePerServing,readyInMinutes,servings,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,True,True,True,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,8,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,True,True,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,5,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,True,False,True,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,12,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,False,True,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,8,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,6,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,True,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,16,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,4,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,True,True,False,5.0,1,659412,Saut√©ed Balsamic Green Beans With Cherry Tomatoes,101.81,45,4,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,4,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### Some questions to think of for yourself. Feel free to ask us if you are in doubt, we are open for a discussion! :)

1. Are there any other columns in this dataset that you would consider a candidate for the index column? Why isn't is always a good idea to use a string as index?
2. Take a closer look at arguments "axis" and "inplace" in functions drop(...) and rename(...). Maybe google for documentation if you are not sure what they mean.
        What happens if you wanted to rename a column that is not there?
        What happens if you set the argument inplace=True?

#### Import pandas library using alias pd.

In [29]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df_ex1. Use the first column as index.

In [31]:
df_ex1 = pd.read_csv("data/Recipes.csv", index_col=0)

#### See if the 34th recipe on the list is vegetarian (remember the 0-based indexing!). Please do this in 4 different ways. Be careful with how .iloc and .loc handle things.

In [32]:
print(df_ex1.iloc[33])

vegetarian                     True
glutenFree                     True
dairyFree                      True
veryHealthy                   False
healthScore                    54.0
                              ...
CalciumpercentOfDailyNeed     16.85
AlcoholAmount                   NaN
AlcoholpercentOfDailyNeed       NaN
CaffeineAmount                  NaN
CaffeinepercentOfDailyNeed      NaN
Name: 33, Length: 78, dtype: object

In [63]:
df_ex1.iloc[33,0]

True

In [48]:
df_ex1.iloc[33:34,:]

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
33,True,True,True,False,54.0,2,641443,Detox Orange Carrot Juice,104.27,45,...,2.65,13.26,0.35,23.48,168.53,16.85,NaN,NaN,NaN,NaN

In [49]:
df_ex1.loc[33, "vegetarian"]

True

In [50]:
df_ex1.vegetarian[33]
#df_ex1.title[33]

True

#### Choose columns with the following info and in the following order: title, price and if it is vegetarian

In [58]:
#df_ex1.columns
df_ex1.loc[:, ["title", "pricePerServing", "vegetarian"]]

,title,pricePerServing,vegetarian
0,Banana Blueberry Pancakes,55.79,True
1,Basil and Orange Confit Compound Butter,15.07,True
2,Black Bottom Banana Bars,78.85,False
3,The Best Raw Chocolate Chip Cookies,54.64,True
4,Mediterranean Spinach Artichoke Dip,115.26,False
...,...,...,...
145,"Chicken Sausage, White Bean and Cabbage Soup",196.23,False
146,Pinot Noir Brownies,65.76,True
147,Cauliflower Chickpea Stew,139.28,True
148,Saut√©ed Balsamic Green Beans With Cherry Tomatoes,101.81,True
149,Indian-Style Dill and Turmeric Potato Salad,117.24,True

#### And now the same for recipes number from 24 to 29

In [59]:
df_ex1.loc[23:28, ["title", "pricePerServing", "vegetarian"]]

,title,pricePerServing,vegetarian
23,Blueberry Compote Bread Pudding With Soft Curd...,270.38,True
24,Green Beans with Garlic Chips,83.90,True
25,Pandan Thumbprint Biscuits,54.26,False
26,Lamb Moussaka,528.50,False
27,Easy Eggplant Parmesan,195.51,True
28,Peach Pie,173.52,True

#### Play with some slicing and accesing. Do you understand the result that you obtain from different trials? Please feel free to ask us about what you see! :)

#### Notice which slicing methods are inclusive and which of them are exclusive. Try to figure your favourite way of accesing / slicing and remember that sometimes some of them make more sense than the others.

### Class-exercise 2

In [65]:
import numpy as np

1. Create a 2-d and 3-d numpy integer array

In [60]:
type(df_ex1.values)

numpy.ndarray

In [10]:
new2D_list = np.array([[1, 2], 
                        [3, 4],
                        [5,6],
                       [7,8]], dtype="i") 
#new2D_list.shape
new2D_list
#print(new2D_list.ndim)

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]], dtype=int32)

In [11]:
new3D_list = np.array([[[ 0 , 1,  2],
   [ 4 , 5,  6 ],
   [ 8,  9, 10]],
   [[12 ,13, 14],
[16, 17, 18],
   [20 ,21, 22 ]]],dtype="i")
#new3D_list.shape
new3D_list.ndim

3

2. Create a 2X2 integer array and show it's dimensions

In [13]:
new2D = np.array([[1, 2], 
                        [3, 4]],dtype="i")
new2D.shape

(2, 2)

3. Create a numpy array and  print the sum of third and fourth elements from the array

In [27]:
b = np.array([10, 15, 13, 17, 5])
#b[2:4]
sumofno = np.sum(b[2:4])
sumofno

30

4. Slice the below array to get the the second item to the excluding fifth item

arr = np.array([10, 15, 20, 25, 30, 35, 40])

In [16]:
arr = np.array([10, 15, 20, 25, 30, 35, 40])
arr[1:4]

array([15, 20, 25])

5. Try example 4. using STEP method

In [ ]:
print(arr[1:4:1])

[15 20 25]

6. Create a integer array and change data type from integer to boolean

In [37]:
x=np.array([0,1,0,1,2,3],dtype=int)
y = 2 >= x
y
#y.dtype
#1*y                      # Method 1
#y.astype(int)            # Method 2

array([ True,  True,  True,  True,  True, False])

7. Use NumPy syntax to check the shape of an array.

arr = np.array([1, 2, 3, 4, 5])

In [41]:
arr = np.array([1, 2, 3, 4, 5])
np.shape(arr)

(5,)

8. Find the indexes where the values are even:

arr = [16, 8, 3, 7, 15, 24]

In [47]:
arr = [16, 8, 3, 7, 15, 24]
b = np.array(arr)
print ('IndiXes of elements where the values are even')
np.where(b % 2 == 0)

IndiXes of elements where the values are even

(array([0, 1, 5], dtype=int64),)

9. Create a numpy array of 5 person names and sort the values alpbabetically

In [55]:
names=["Kavi","Halla","Silvina","Puja","Leo"]
namearr= np.array(names)
namearr
print(np.sort(namearr))

['Halla' 'Kavi' 'Leo' 'Puja' 'Silvina']

10. Use the correct NumPy method to return a sorted array.

  arr = np.array([3, 2, 0, 1])

In [42]:
arr = np.array([3, 2, 0, 1])
print(np.sort(arr))

[0 1 2 3]