In [1]:
import pandas as pd
import numpy as np

#### In this exercises session, you will continue with the bike dataset. Please load it first.

In [2]:
df = pd.read_csv("../data/bikesharing/data.csv", sep=",")
df
# "../" is to go 1 level up in the directory

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

#### Convert the "timestamp" column to an actual timestamp. With the first timestamp in the list, find 2 new members and 2 new members functions. Hint: after typing the dot "." click a "Tab" and explore the list.

In [3]:
df["timestamp"]=pd.to_datetime(df["timestamp"], format="%Y-%m-%d %H:%M:%S")
#df["hihi"] = df["timestamp"].dt.date
df.dtypes
ts = df["timestamp"][0]
print(ts.date())
print(ts.day)
print(ts.year)
print(ts.weekday())
print(ts.day_name())
print(ts.hour)

2015-01-04
4
2015
6
Sunday
0

#### How many full weeks does this dataset cover? (a full week meaning from Monday to Sunday)

In [4]:
# Solution 1:
df["weekday"] = df.timestamp.dt.day_name()
ts1, ts2 = df["timestamp"].agg(["min", "max"])
first_Mon = ts1.date() + pd.Timedelta(days=1)
last_Sun = ts2.date() - pd.Timedelta(days=2)
number_of_days = last_Sun - first_Mon + pd.Timedelta(days=1)
number_of_weeks = number_of_days.days/7
number_of_weeks

104.0

In [5]:
# Solution 2: 
# Adding week number, year collumn:
df["week_number"] = df.timestamp.dt.isocalendar().week
df["year"] = df.timestamp.dt.year

count_week= df.groupby(["year","week_number"])[["cnt"]].count()
count_week

                  cnt
year week_number
2015 1             24
     2            167
     3            168
     4            168
     5            168
...               ...
2016 51           168
     52           144
     53            72
2017 1             48
     52            24

[108 rows x 1 columns]

#### What was the maximum temperature (column: t1) recorded on a Friday night (between 10p.m. and 6a.m.)?

In [6]:
df["hour"] = df.timestamp.dt.hour

def time_of_day(x):
    if (x > 6) and (x < 22):
        return "Day"
    else:
        return "Night"

df["time_of_day"] = df.hour.apply(time_of_day)
df.groupby(["weekday","time_of_day"], as_index=False)["t1"].max()

      weekday time_of_day    t1
0      Friday         Day  27.5
1      Friday       Night  23.0
2      Monday         Day  29.0
3      Monday       Night  23.0
4    Saturday         Day  30.0
5    Saturday       Night  22.0
6      Sunday         Day  27.5
7      Sunday       Night  23.0
8    Thursday         Day  30.0
9    Thursday       Night  24.5
10    Tuesday         Day  33.0
11    Tuesday       Night  22.5
12  Wednesday         Day  34.0
13  Wednesday       Night  27.5

#### Try to figure out what the single values of the column: weather_code mean. Create a new column which contains names of the seasons.

In [7]:
# I tried groupby() and found that there are 7 different types of weather, but I'm not sure what do they mean.

# Solution 2 from Anh to get unique values from weather_code col to know what values it would carry
df.weather_code.unique()

#The output arrays have specific values, so weather_code describes the weather categories 

#1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
#3 = Broken clouds
#4 = Cloudy
#7 = Rain/ light Rain shower/ Light rain
#10 = rain with thunderstorm
#26 = snowfall

# Function to define season:
def season_name(x):
    if x==0:
        return "Spring"
    elif x==1:
        return "Summer"
    elif x==2:
        return "Autumn"
    elif x==3:
        return "Winter"
    
df["season_name"] = df.season.apply(season_name)
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,weekday,week_number,year,hour,time_of_day,season_name
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,Sunday,1,2015,0,Night,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,Sunday,1,2015,1,Night,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,Sunday,1,2015,2,Night,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,Sunday,1,2015,3,Night,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,Sunday,1,2015,4,Night,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,Tuesday,1,2017,19,Day,Winter
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,Tuesday,1,2017,20,Day,Winter
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,Tuesday,1,2017,21,Day,Winter
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,Tuesday,1,2017,22,Night,Winter
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,Tuesday,1,2017,23,Night,Winter

#### What was the average number of bike rides in winter? How was the number in the summer? What can you say about these numbers and is a direct comparison the right thing to do? Why? Why not?

In [8]:
df.groupby(["season_name"])[["cnt"]].agg("mean")
# There are more bike rides in the summer. I think for a general view it might be the right things to do
# But I think the factor affect the number of bike rides are more nuanced, such as temperature and rain.

                     cnt
season_name
Autumn       1178.954218
Spring       1103.831589
Summer       1464.465238
Winter        821.729099