# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [ ]:
18 % 7

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [2]:
3 ** 4

81

**Ex 4** Calculate the square root of 49

In [25]:
from numpy import sqrt
sqrt(49)

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [10]:
pi = "3.14159265"
s = float(pi)
print(s)
round((s), 3)

3.14159265

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [12]:
int(4.9)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [27]:
import math
math.ceil(4.9)

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [34]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
for names in names:
    print(names)

Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [41]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
new_names = ["Pablo", "Lise"]
for names in names:
    print(names)
for new_names in new_names:
    print(new_names)

Miriam
Tim
Jing
Carlos
Ruben
Ashley
Pablo
Lise

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [60]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley", "Pablo", "Lise"]
names1 = names[1]
names2 = names[6]
print(names1, 'and', names2)

Tim and Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [64]:
age = [11, 22, 33, 44, 22, 55]
count = sum(age)
average = count / len(age)
print(count)
print(average)

187
31.166666666666668

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [ ]:
age = [11, 22, 33, 44, 22, 55]
age.sort()
print(age)
s = age.count(22)
print(s)

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [151]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
if "Miriam" in names:
    print('Miriam was found in the list')
if "Peter" not in names:
   print('Peter was not found in the list')

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [152]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [153]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [154]:
grades = [12, 12, 12, 10, 7, 10]

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [155]:
date = (25, 11, 1992)

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome