# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

# Welcome

In [1]:
print( '\033[1m'+ 'Hello !' + '\033[0m')
print("\x1B[3m  Italic \x1B[0m")

Hello !
  Italic

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [ ]:
18 % 7

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [3]:
pow (3,4)

81

**Ex 4** Calculate the square root of 49

In [4]:
import math
print(math.sqrt(49))

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

# pi = "3.14159265"
print(round(float(pi),

**Ex 6** **Convert** the variable number=4.9 to an integer

In [6]:
print(int(4.9)) #integer will not read after decimal

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [7]:
round(4.9) # round will give the nearest number.

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [8]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
print("Length of the list is:", len(names))
print(*names, sep='\n')

Length of the list is: 6
Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [9]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
new_names = ["Pablo", "Lise"]
names.extend(new_names)
print(names)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [10]:
print(names[1], '\n', names[-2])

Tim
 Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [11]:
age = [11, 22, 33, 44, 22, 55]
total = sum(age)
avg = total/len(age)
# printing total value
print("Sum:", total)
print("Average:", round(avg,2))

Sum: 187
Average: 31.17

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [12]:
age = [11, 22, 33, 44, 22, 55]
age.sort(reverse=False)
print("List in an ascending order",age)
print("Number count is", age.count(22))

List in an ascending order [11, 22, 22, 33, 44, 55]
Number count is 2

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [13]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 6, 9))
print(sum_thrice(6, 6, 6))

16
54

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [14]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
def check_value(Uname):
 
    if Uname in names: 
        print(Uname + " " + "was found in the list")
        
    else: 
        print(Uname + " " + "was not found in the list")

check_value("Miriam")
check_value("Peter")

Miriam was found in the list
Peter was not found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [ ]:
base = int(input("Input the base : ")) # input function allows user input
height = int(input("Input the height : "))

area = base*height/2

print("area = ", area)

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [ ]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]
for st_Name in students:
    if isinstance(st_Name,str):
        print(st_Name)

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [ ]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
student = zip(names, ages)
print(list(student))

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [ ]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
new_dict =  dict(zip(names,ages))
print(new_dict)

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [ ]:
grades = [12, 12, 12, 10, 7, 10]
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]
nested_dict = {}
for i in range(len(names)):  # here values are sorted by length 
    nested_dict[names[i]] = {}
    nested_dict[names[i]]["ages"] = ages[i] 
    nested_dict[names[i]]["grades"] = grades[i]
    
print(nested_dict)

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [ ]:
names.pop(0)
print(names)

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [ ]:
for n in range(1,20):
    if n%6 == 0:
        print(n)

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [1]:
date = (25, 11, 1992)
from datetime import datetime

d = date_time.strftime("%d/%m/%Y")
print("Date:", d)

NameError: name 'date_time' is not defined

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [ ]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [ ]:
name = input("Enter your username: " " ")
print("Hello", name)

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [ ]:
# Store input numbers:  
num1 = input('Enter first number: ')  
num2 = input('Enter second number: ')  
  
# Add two numbers  
sum = float(num1) + float(num2)  
# Subtract two numbers  
min = float(num1) - float(num2)  
# Multiply two numbers  
mul = float(num1) * float(num2)  
#Divide two numbers  
div = float(num1) / float(num2)  
# Display the sum  
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))  
  
# Display the subtraction  
print('The subtraction of {0} and {1} is {2}'.format(num1, num2, min))  
# Display the multiplication  
print('The multiplication of {0} and {1} is {2}'.format(num1, num2, mul))  
# Display the division  
print('The division of {0} and {1} is {2}'.format(num1, num2, div))

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [ ]:


# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [ ]:
def reverse_word(string): # Reverse the input string.
       
    
    #Returns: reverse_string -- a string reverse word of input string.

    return ' '.join(string.split(' ')[::-1])
    
# Test Part
print(reverse_word(input('Please input a sentence:')))

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [ ]:
my_str = input('Enter a string')

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")