#### Import pandas library using alias pd.

In [1]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df. Use the first column as index.

In [2]:
df = pd.read_csv("data/Recipes.csv")

#### Print the type of variable df.

In [3]:
type(df)

pandas.core.frame.DataFrame

#### Print the number of columns and number of rows of the df DataFrame.

In [4]:
df.info() 
#len(df.index) #prints no of rows
#len(df.columns) #prints no of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 79 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          150 non-null    int64
 1   vegetarian                          150 non-null    bool
 2   glutenFree                          150 non-null    bool
 3   dairyFree                           150 non-null    bool
 4   veryHealthy                         150 non-null    bool
 5   healthScore                         150 non-null    float64
 6   aggregateLikes                      150 non-null    int64
 7   id                                  150 non-null    int64
 8   title                               150 non-null    object
 9   pricePerServing                     150 non-null    float64
 10  readyInMinutes                      150 non-null    int64
 11  servings                            150 non-null    int64
 12  sourceUrl                           150 non-null    object
 13  CaloriesAmount                      150 non-null    float64
 14  CaloriespercentOfDailyNeed          150 non-null    float64
 15  FatAmount                           150 non-null    float64
 16  FatpercentOfDailyNeed               150 non-null    float64
 17  SaturatedFatAmount                  150 non-null    float64
 18  SaturatedFatpercentOfDailyNeed      150 non-null    float64
 19  CarbohydratesAmount                 150 non-null    float64
 20  CarbohydratespercentOfDailyNeed     150 non-null    float64
 21  NetCarbohydratesAmount              150 non-null    float64
 22  NetCarbohydratespercentOfDailyNeed  150 non-null    float64
 23  SugarAmount                         150 non-null    float64
 24  SugarpercentOfDailyNeed             150 non-null    float64
 25  CholesterolAmount                   150 non-null    float64
 26  CholesterolpercentOfDailyNeed       150 non-null    float64
 27  SodiumAmount                        150 non-null    float64
 28  SodiumpercentOfDailyNeed            150 non-null    float64
 29  ProteinAmount                       150 non-null    float64
 30  ProteinpercentOfDailyNeed           150 non-null    float64
 31  FiberAmount                         142 non-null    float64
 32  FiberpercentOfDailyNeed             142 non-null    float64
 33  VitaminB6Amount                     140 non-null    float64
 34  VitaminB6percentOfDailyNeed         140 non-null    float64
 35  ManganeseAmount                     146 non-null    float64
 36  ManganesepercentOfDailyNeed         146 non-null    float64
 37  SeleniumAmount                      134 non-null    float64
 38  SeleniumpercentOfDailyNeed          134 non-null    float64
 39  PotassiumAmount                     143 non-null    float64
 40  PotassiumpercentOfDailyNeed         143 non-null    float64
 41  VitaminB2Amount                     146 non-null    float64
 42  VitaminB2percentOfDailyNeed         146 non-null    float64
 43  VitaminCAmount                      119 non-null    float64
 44  VitaminCpercentOfDailyNeed          119 non-null    float64
 45  PhosphorusAmount                    147 non-null    float64
 46  PhosphoruspercentOfDailyNeed        147 non-null    float64
 47  FolateAmount                        144 non-null    float64
 48  FolatepercentOfDailyNeed            144 non-null    float64
 49  VitaminB5Amount                     136 non-null    float64
 50  VitaminB5percentOfDailyNeed         136 non-null    float64
 51  MagnesiumAmount                     142 non-null    float64
 52  MagnesiumpercentOfDailyNeed         142 non-null    float64
 53  IronAmount                          147 non-null    float64
 54  IronpercentOfDailyNeed              147 non-null    float64
 55  VitaminKAmount                      138 non-null    float64
 56  VitaminKpercentOfDailyNeed          138 non-null    float64
 57  CopperAmount                        144 non-null    float64
 58  CopperpercentOfDailyNeed            144 non-null    float64
 59  VitaminAAmount                      137 non-null    float64
 60  VitaminApercentOfDailyNeed          137 non-null    float64
 61  VitaminB12Amount                    93 non-null     float64
 62  VitaminB12percentOfDailyNeed        93 non-null     float64
 63  VitaminDAmount                      75 non-null     float64
 64  VitaminDpercentOfDailyNeed          75 non-null     float64
 65  ZincAmount                          139 non-null    float64
 66  ZincpercentOfDailyNeed              139 non-null    float64
 67  VitaminEAmount                      138 non-null    float64
 68  VitaminEpercentOfDailyNeed          138 non-null    float64
 69  VitaminB3Amount                     139 non-null    float64
 70  VitaminB3percentOfDailyNeed         139 non-null    float64
 71  VitaminB1Amount                     143 non-null    float64
 72  VitaminB1percentOfDailyNeed         143 non-null    float64
 73  CalciumAmount                       142 non-null    float64
 74  CalciumpercentOfDailyNeed           142 non-null    float64
 75  AlcoholAmount                       21 non-null     float64
 76  AlcoholpercentOfDailyNeed           21 non-null     float64
 77  CaffeineAmount                      9 non-null      float64
 78  CaffeinepercentOfDailyNeed          9 non-null      float64
dtypes: bool(4), float64(68), int64(5), object(2)
memory usage: 88.6+ KB

#### What are the names of the columns in df?

In [5]:
print(df.columns)

Index(['Unnamed: 0', 'vegetarian', 'glutenFree', 'dairyFree', 'veryHealthy',
       'healthScore', 'aggregateLikes', 'id', 'title', 'pricePerServing',
       'readyInMinutes', 'servings', 'sourceUrl', 'CaloriesAmount',
       'CaloriespercentOfDailyNeed', 'FatAmount', 'FatpercentOfDailyNeed',
       'SaturatedFatAmount', 'SaturatedFatpercentOfDailyNeed',
       'CarbohydratesAmount', 'CarbohydratespercentOfDailyNeed',
       'NetCarbohydratesAmount', 'NetCarbohydratespercentOfDailyNeed',
       'SugarAmount', 'SugarpercentOfDailyNeed', 'CholesterolAmount',
       'CholesterolpercentOfDailyNeed', 'SodiumAmount',
       'SodiumpercentOfDailyNeed', 'ProteinAmount',
       'ProteinpercentOfDailyNeed', 'FiberAmount', 'FiberpercentOfDailyNeed',
       'VitaminB6Amount', 'VitaminB6percentOfDailyNeed', 'ManganeseAmount',
       'ManganesepercentOfDailyNeed', 'SeleniumAmount',
       'SeleniumpercentOfDailyNeed', 'PotassiumAmount',
       'PotassiumpercentOfDailyNeed', 'VitaminB2Amount',
       'VitaminB2percentOfDailyNeed', 'VitaminCAmount',
       'VitaminCpercentOfDailyNeed', 'PhosphorusAmount',
       'PhosphoruspercentOfDailyNeed', 'FolateAmount',
       'FolatepercentOfDailyNeed', 'VitaminB5Amount',
       'VitaminB5percentOfDailyNeed', 'MagnesiumAmount',
       'MagnesiumpercentOfDailyNeed', 'IronAmount', 'IronpercentOfDailyNeed',
       'VitaminKAmount', 'VitaminKpercentOfDailyNeed', 'CopperAmount',
       'CopperpercentOfDailyNeed', 'VitaminAAmount',
       'VitaminApercentOfDailyNeed', 'VitaminB12Amount',
       'VitaminB12percentOfDailyNeed', 'VitaminDAmount',
       'VitaminDpercentOfDailyNeed', 'ZincAmount', 'ZincpercentOfDailyNeed',
       'VitaminEAmount', 'VitaminEpercentOfDailyNeed', 'VitaminB3Amount',
       'VitaminB3percentOfDailyNeed', 'VitaminB1Amount',
       'VitaminB1percentOfDailyNeed', 'CalciumAmount',
       'CalciumpercentOfDailyNeed', 'AlcoholAmount',
       'AlcoholpercentOfDailyNeed', 'CaffeineAmount',
       'CaffeinepercentOfDailyNeed'],
      dtype='object')

#### Rename column id to RecipeId. Drop column "veryHealthy".

In [18]:
new_df = pd.DataFrame(df)
new_df.rename(columns={"id":"RecipeID"})

,Unnamed: 0,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,RecipeID,title,pricePerServing,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,148,True,True,False,False,5.0,1,659412,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

In [20]:
new_df.drop(['veryHealthy'], axis=1)

,Unnamed: 0,vegetarian,glutenFree,dairyFree,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,0,True,True,True,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,1,True,True,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,3,True,False,True,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,4,False,True,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,False,True,True,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,146,True,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,147,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,148,True,True,False,5.0,1,659412,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,149,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### Some questions to think of for yourself. Feel free to ask us if you are in doubt, we are open for a discussion! :)

1. Are there any other columns in this dataset that you would consider a candidate for the index column? Why isn't is always a good idea to use a string as index?
2. Take a closer look at arguments "axis" and "inplace" in functions drop(...) and rename(...). Maybe google for documentation if you are not sure what they mean.
        What happens if you wanted to rename a column that is not there?
        What happens if you set the argument inplace=True?

#### Import pandas library using alias pd.

In [1]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df_ex1. Use the first column as index.

In [5]:
df_ex1 = pd.read_csv("data/Recipes.csv",index_col = 0)
df_ex1.set_index(['id'])

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,title,pricePerServing,readyInMinutes,servings,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
id,,,,,,,,,,,,,,,,,,,,,
633998,True,True,True,False,1.0,3,Banana Blueberry Pancakes,55.79,45,8,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
634426,True,True,False,False,0.0,1,Basil and Orange Confit Compound Butter,15.07,45,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635085,False,False,False,False,3.0,1,Black Bottom Banana Bars,78.85,45,5,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
663229,True,False,True,False,2.0,1,The Best Raw Chocolate Chip Cookies,54.64,45,12,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
651437,False,True,False,False,31.0,3,Mediterranean Spinach Artichoke Dip,115.26,45,8,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638315,False,True,True,False,18.0,13,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,6,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
656248,True,False,False,False,1.0,2,Pinot Noir Brownies,65.76,45,16,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
637297,True,True,True,True,93.0,2,Cauliflower Chickpea Stew,139.28,45,4,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
659412,True,True,False,False,5.0,1,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,45,4,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
647875,True,True,True,True,100.0,4,Indian-Style Dill and Turmeric Potato Salad,117.24,30,4,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### See if the 34th recipe on the list is vegetarian (remember the 0-based indexing!). Please do this in 4 different ways. Be careful with how .iloc and .loc handle things.

In [4]:
df_ex1["vegetarian"][33]

df_ex1.loc[33,"vegetarian"]
df_ex1.iloc[33,1]

df_ex1.iat[33,1]

df_ex1.at[33,'vegetarian']

True

#### Choose columns with the following info and in the following order: title, price and if it is vegetarian

In [6]:
df_ex1[['title','pricePerServing', 'vegetarian']]

,title,pricePerServing,vegetarian
0,Banana Blueberry Pancakes,55.79,True
1,Basil and Orange Confit Compound Butter,15.07,True
2,Black Bottom Banana Bars,78.85,False
3,The Best Raw Chocolate Chip Cookies,54.64,True
4,Mediterranean Spinach Artichoke Dip,115.26,False
...,...,...,...
145,"Chicken Sausage, White Bean and Cabbage Soup",196.23,False
146,Pinot Noir Brownies,65.76,True
147,Cauliflower Chickpea Stew,139.28,True
148,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,True
149,Indian-Style Dill and Turmeric Potato Salad,117.24,True

#### And now the same for recipes number from 24 to 29

In [10]:
#method1: df_ex1[24:30]
df_ex1[['title','pricePerServing', 'vegetarian']].loc[24:29]

                            title  pricePerServing  vegetarian
24  Green Beans with Garlic Chips            83.90        True
25     Pandan Thumbprint Biscuits            54.26       False
26                  Lamb Moussaka           528.50       False
27         Easy Eggplant Parmesan           195.51        True
28                      Peach Pie           173.52        True
29                     Kappa Maki            72.94        True

#### Play with some slicing and accesing. Do you understand the result that you obtain from different trials? Please feel free to ask us about what you see! :)

In [12]:
df_ex1[-1:] #Displays last row from the data

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.8,NaN,NaN,NaN,NaN

In [13]:
df_ex1[:6] #displays Last 6 rows

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.3
3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
5,False,True,True,False,30.0,1,1096267,Turkey Burgers with Slaw,387.61,30,...,18.27,91.37,0.19,12.44,42.49,4.25,NaN,NaN,NaN,NaN

#### Notice which slicing methods are inclusive and which of them are exclusive. Try to figure your favourite way of accesing / slicing and remember that sometimes some of them make more sense than the others.

In [16]:
df_ex1[30:] #starting from 30th element

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
30,True,True,True,False,17.0,1,1096306,Vegan Chana Masala Curry,165.89,30,...,2.14,10.71,0.20,13.09,154.27,15.43,NaN,NaN,NaN,NaN
31,True,True,False,False,5.0,249,716421,Grilled Peach Melba with Vanilla Bean Frozen Y...,405.52,45,...,1.33,6.63,0.07,4.70,184.10,18.41,NaN,NaN,NaN,NaN
32,False,True,True,False,6.0,1,652758,Mussels Marinara,125.90,45,...,0.90,4.52,0.06,4.19,41.74,4.17,6.18,34.33,NaN,NaN
33,True,True,True,False,54.0,2,641443,Detox Orange Carrot Juice,104.27,45,...,2.65,13.26,0.35,23.48,168.53,16.85,NaN,NaN,NaN,NaN
34,False,True,False,True,78.0,15,661340,Spinach Salad with Strawberry Vinaigrette,338.97,45,...,6.03,30.15,0.19,12.65,221.46,22.15,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,True,True,False,False,5.0,1,659412,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

In [17]:
df_ex1[30:45]

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
30,True,True,True,False,17.0,1,1096306,Vegan Chana Masala Curry,165.89,30,...,2.14,10.71,0.20,13.09,154.27,15.43,NaN,NaN,NaN,NaN
31,True,True,False,False,5.0,249,716421,Grilled Peach Melba with Vanilla Bean Frozen Y...,405.52,45,...,1.33,6.63,0.07,4.70,184.10,18.41,NaN,NaN,NaN,NaN
32,False,True,True,False,6.0,1,652758,Mussels Marinara,125.90,45,...,0.90,4.52,0.06,4.19,41.74,4.17,6.18,34.33,NaN,NaN
33,True,True,True,False,54.0,2,641443,Detox Orange Carrot Juice,104.27,45,...,2.65,13.26,0.35,23.48,168.53,16.85,NaN,NaN,NaN,NaN
34,False,True,False,True,78.0,15,661340,Spinach Salad with Strawberry Vinaigrette,338.97,45,...,6.03,30.15,0.19,12.65,221.46,22.15,NaN,NaN,NaN,NaN
35,False,True,False,False,9.0,6,634605,Beef Cottage Pie,113.45,45,...,3.31,16.55,0.05,3.33,45.50,4.55,NaN,NaN,NaN,NaN
36,False,False,False,True,57.0,1,647124,Homemade Thin Crust Pizza + Pesto + Potato,199.57,45,...,7.12,35.59,1.12,74.83,201.23,20.12,NaN,NaN,NaN,NaN
37,True,True,False,False,17.0,1,658495,Roasted Asparagus with Egg Salad,217.78,45,...,2.17,10.85,0.23,15.32,150.39,15.04,NaN,NaN,NaN,NaN
38,True,False,False,False,9.0,1,649300,Latkes; Fried Vegetable Pancakes from Europe a...,58.55,45,...,2.20,10.98,0.27,17.86,56.43,5.64,NaN,NaN,NaN,NaN
39,True,True,True,False,7.0,6,1098357,Three Ingredient Frozen Pina Colada,214.60,5,...,1.05,5.25,0.19,12.66,52.87,5.29,13.36,74.22,NaN,NaN
40,False,True,False,False,12.0,7,641904,Easy Chicken Tandoori,151.89,45,...,3.64,18.18,0.12,7.84,108.23,10.82,NaN,NaN,NaN,NaN
41,True,False,False,False,1.0,1,657875,Raspberry Jam Swirled Buns,28.09,45,...,1.47,7.36,0.22,14.49,27.96,2.80,NaN,NaN,NaN,NaN
42,True,True,False,False,2.0,8,655098,Peach Coconut Ice Cream,72.45,45,...,0.97,4.84,0.04,2.41,32.64,3.26,NaN,NaN,NaN,NaN
43,False,False,False,False,44.0,1,622825,Tortilla Burger Loco Vaca,407.86,40,...,12.82,64.12,0.35,23.42,281.97,28.20,NaN,NaN,NaN,NaN
44,False,False,False,False,0.0,1,1095774,Moist and Tender Lemon Cake,68.21,35,...,0.76,3.81,0.11,7.12,18.52,1.85,NaN,NaN,NaN,NaN

In [20]:
df_ex1.loc[[5,35,135],:] #select specific 5, 35, 135

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
5,False,True,True,False,30.0,1,1096267,Turkey Burgers with Slaw,387.61,30,...,18.27,91.37,0.19,12.44,42.49,4.25,NaN,NaN,NaN,NaN
35,False,True,False,False,9.0,6,634605,Beef Cottage Pie,113.45,45,...,3.31,16.55,0.05,3.33,45.50,4.55,NaN,NaN,NaN,NaN
135,False,True,True,False,13.0,1,639843,Cod Fillet In Lemon Grass Shallot Sauce,307.35,45,...,0.51,2.54,0.10,6.91,72.79,7.28,NaN,NaN,NaN,NaN

### Class-exercise 2

In [21]:
import numpy as np

1. Create a 2-d and 3-d numpy integer array

In [22]:
#Create 2d numpy integer array (3,2)
numpy_2d_array = np.array([[1, 2, 3], [4, 5, 6]])

#Create 3d numpy integer array (4,2,3)

numpy_3d_array = np.array([[[1,2,3],[4,5,6]],[[4,5,6],[7,8,9]],[[10,11,12],[12,13,14]],[[12,13,14],[14,15,16]]])
print(numpy_3d_array)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [12 13 14]]

 [[12 13 14]
  [14 15 16]]]

2. Create a 2X2 integer array and show it's dimensions

In [23]:
#Create 2d numpy integer array
array = np.array([[1, 2], [3, 4]])
array.ndim

2

3. Create a numpy array and  print the sum of third and fourth elements from the array

In [24]:
def sum_of_2_elements(arr, index1, index2):
    return (arr[index1]) + (arr[index2])
    
numpy_array = np.array([1, 2, 3, 4, 5]) 
numpy_array[3]

sum_of_2_elements(numpy_array,2,3)

7

4. Slice the below array to get the the second item to the excluding fifth item

arr = np.array([10, 15, 20, 25, 30, 35, 40])

In [25]:
arr = np.array([10, 15, 20, 25, 30, 35, 40])
arr[1:4]

array([15, 20, 25])

5. Try example 4. using STEP method

In [26]:
arr[1:4:2]

array([15, 25])

6. Create a integer array and change data type from integer to boolean

In [2]:
np.array([0,1,0,1,2,3],dtype=bool)

array([False,  True, False,  True,  True,  True])

7. Use NumPy syntax to check the shape of an array.

arr = np.array([1, 2, 3, 4, 5])

In [27]:
arr = np.array([1, 2, 3, 4, 5])
arr.shape

(5,)

8. Find the indexes where the values are even:

arr = [16, 8, 3, 7, 15, 24]

In [28]:
arr = [16, 8, 3, 7, 15, 24]
arr = np.array(arr)
arr[arr % 2 == 0]

array([16,  8, 24])

9. Create a numpy array of 5 person names and sort the values alpbabetically

In [30]:
np_array = ['Adhya','Advi','Vittu','Jhanu','Radhi']

np.sort(np_array)
#np_array.sort()
np_array

['Adhya', 'Advi', 'Vittu', 'Jhanu', 'Radhi']

10. Use the correct NumPy method to return a sorted array.

  arr = np.array([3, 2, 0, 1])

In [31]:
arr = np.array([3, 2, 0, 1])
arr = np.sort(arr)
arr

array([0, 1, 2, 3])