1. Import the libraries and print the information about dataset i.e diabetes.csv

In [10]:
import pandas as pd
filename = 'data/diabetes.csv'
df = pd.read_csv(filename)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

2. Check for datatypes i.e categorical, integer and float in dataset

In [13]:
#check categorical data 
df.select_dtypes(include='object').dtypes
# there is no categorical data

Series([], dtype: object)

In [9]:
#check data in integer or float type
df.select_dtypes(include=['int','float']).dtypes

Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

3. check the columns that have null values

In [19]:
#check whether columns have missing data 
df.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [20]:
#get a list of columns with missing data
df.columns[df.isnull().any()]

Index([], dtype='object')

4. Apply the sort on Age column in descending order

In [28]:
 df.sort_values(by = ['Age'], ascending=False)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
459,9,134,74,33,60,25.9,0.460,81,0
453,2,119,0,0,0,19.6,0.832,72,0
666,4,145,82,18,0,32.5,0.235,70,1
123,5,132,80,0,0,26.8,0.186,69,0
684,5,136,82,0,0,0.0,0.640,69,0
...,...,...,...,...,...,...,...,...,...
240,1,91,64,24,0,29.2,0.192,21,0
136,0,100,70,26,50,30.8,0.597,21,0
382,1,109,60,8,182,25.4,0.947,21,0
392,1,131,64,14,415,23.7,0.389,21,0
271,2,108,62,32,56,25.2,0.128,21,0

5. Print the count values and rows that have "Outcome" == 1

In [32]:
mask_1 = (df["Outcome"] == 1)
df[mask_1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

In [36]:
len(df[df['Outcome'] == 1])

268