# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [1]:
18 % 7

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [2]:
3 ** 4

81

**Ex 4** Calculate the square root of 49

In [3]:
49 ** 0.5

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [4]:
pi = "3.14159265"
round(float(pi), 3)

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [5]:
number = 4.9
int1 = int(number)

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [6]:
int2 = round(number)
print(int1, int2)

4 5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [7]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]

In [8]:
n_names = len(names)
for name in names:
    print(name)
    
# alternative with inline loop
_ = [print(name) for name in names]

Miriam
Tim
Jing
Carlos
Ruben
Ashley
Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [9]:
new_names = ["Pablo", "Lise"]
updated_names = names + new_names

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [10]:
print(updated_names[1], updated_names[-2])

# alternative with inline loop
_ = [updated_names[idx] for idx in [1, -2]]

Tim Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [11]:
age = [11, 22, 33, 44, 22, 55]

In [12]:
_sum = sum(age)
average = _sum / len(age)
_sum, average

(187, 31.166666666666668)

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [13]:
age.sort()
age.count(22)

2

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [14]:
def sum_of_3(n1, n2, n3):
    _sum = sum([n1, n2, n3])
    if n1 == n2 == n3:
        return _sum * 3
    else:
        return _sum
    
print(sum_of_3(1, 1, 2))
print(sum_of_3(1, 1, 1))

4
9

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [15]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]

In [16]:
def find_name(name, names):
    if name in names:
        print(f"{name} was found in the list")
    else:
        print(f"{name} was not found in the list")

find_name("Miriam", names)
find_name("Peter", names)

# or like this
_ = [find_name(name, names) for name in ["Miriam", "Peter"]]

Miriam was found in the list
Peter was not found in the list
Miriam was found in the list
Peter was not found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [17]:
def triangle_area(base, height):
    return 0.5 * base * height

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [18]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]

In [19]:
for val in students:
    if isinstance(val, str):
        print(val)

# or the inline variant        
_ = [print(val) for val in students if isinstance(val, str)]

Miriam
Tim
Jing
Carlos
Miriam
Tim
Jing
Carlos

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [20]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]

In [21]:
for name, age in zip(names, ages):
    print(name, age)

Miriam 25
Tim 22
Jing 24
Carlos 33
Ruben 22
Ashley 21

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [22]:
students = {name:ages[i] for i, name in enumerate(names)}

# more elegant solution
students = dict(zip(names, ages))

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [23]:
grades = [12, 12, 12, 10, 7, 10]

In [24]:
students = {name:{"age":age, "grade":grade} for name, age, grade in zip(names, ages, grades)}

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [25]:
_ = students.pop("Miriam")

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [26]:
numbers = range(1, 21)
_ = [print(number) for number in numbers if number % 6 == 0]

6
12
18

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [27]:
date = (25, 11, 1992)

In [28]:
# recommended solution 
print("The holidays will begin on: {}/{}/{}".format(*date))

# this also works but requires to write (copy) more code
print("The holidays will begin on: {}/{}/{}".format(date[0], date[1], date[2]))

# you could also use f-strings (but not recommended here)
print(f"The holidays will begin on: {date[0]}/{date[1]}/{date[2]}")

The holidays will begin on: 25/11/1992
The holidays will begin on: 25/11/1992
The holidays will begin on: 25/11/1992

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [29]:
def even_or_odd(number):
    if number % 2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [ ]:
name = input("Please type your username")
print(f"Hello {name}.")

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [ ]:
def math_operation(n1, n2, operator):
    if operator == "*":
        return n1 * n2
    if operator == "/":
        return n1 / n2
    elif operator == "+":
        return n1 + n2
    elif operator == "-":
        return n1 - n2
    else:
        print(f"{operator} is not a valid operator")
        return None


_input = input("Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace")
number1, number2, operator = _input.split(" ")
number1, number2 = float(number1), float(number2) 
res = math_operation(number1, number2, operator)
print(f"The result is: {res}")

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [ ]:
def factorial(n):
    if isinstance(n, float) or isinstance(n, str):
        raise TypeError("The input must be of type integer")
    if n < 0:
        raise ValueError("The input must be positive")
    val = 1
    for number in range(1, n + 1):
        val *= number 
    return val

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [ ]:
def manipulate_input_string():
    input_sentence = input("Write a long string")
    sentence = input_sentence.split(" ")[::-1]
    print(" ".join(sentence))
    
manipulate_input_string()

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [ ]:
def is_palindrome(string):
    if string.lower() == string.lower()[::-1]:
        print(f"{string} is a Palindrome")
    else:
        print(f"{string} is not Palindrome")
        
is_palindrome("Tenet")
is_palindrome("China")