In [1]:
import pandas as pd
import numpy as np

#### In this exercises session, you will continue with the bike dataset. Please load it first.

In [2]:
filename = 'data.csv'
df = pd.read_csv(filename)
df.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

#### Convert the "timestamp" column to an actual timestamp. With the first timestamp in the list, find 2 new members and 2 new members functions. Hint: after typing the dot "." click a "Tab" and explore the list.

In [3]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format= "%Y-%m-%d %H:%M:%S")

#2 new members function here means extracting attributes from timestamp variable
df['day_extracted']= df['timestamp'].dt.day
df['hour_extracted']= df['timestamp'].dt.hour

df.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,day_extracted,hour_extracted
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,4,0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,4,1
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,4,2
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,4,3
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4,4

In [4]:
## Solution
ts= df['timestamp'][0]

print(ts)
print(ts.day) 
print(ts.hour)
print(ts.date())
print(ts.day_name())
#write ts. then click tab

2015-01-04 00:00:00
4
0
2015-01-04
Sunday

#### How many full weeks does this dataset cover? (a full week meaning from Monday to Sunday)

In [5]:
import datetime

#Access the last timestamp from the dataset
tsEnd = df["timestamp"].iloc[-1]

#Count number of full weeks between the first and last timestamp from the dataset 
int(((tsEnd - ts).days) /7)

#print(tsEnd.day_name())

104

#### What was the maximum temperature (column: t1) recorded on a Friday night (between 10p.m. and 6a.m.)?

In [6]:
#Create a sub-dataframe for t1 recorded on a Friday night with given condition

ts_friday = df.loc[(df['timestamp'].dt.day_name() == 'Friday') & ((df['timestamp'].dt.hour <= 6) | (df['timestamp'].dt.hour >= 22))]

#type(ts_friday)

#Find the max temperature t1 from the dataframe ts_friday
ts_friday['t1'].max()

23.0

#### Try to figure out what the single values of the column: weather_code mean. Create a new column which contains names of the seasons.

In [7]:
#Get unique values from weather_code col to know what values it would carry
df.weather_code.unique()

#The output arrays have specific values, so weather_code describes the weather categories 

#1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
#3 = Broken clouds
#4 = Cloudy
#7 = Rain/ light Rain shower/ Light rain
#10 = rain with thunderstorm
#26 = snowfall


#df.loc[df.weather_code == 3].head(35) - check meteologist factors with the corresponding weather codes

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [8]:
#Create a function to name seasons according to values in season column

def find_season_names(dataframe):
    if dataframe.season == 0.0:
        return 'spring'
    elif dataframe.season == 1.0:
        return 'summer'
    elif dataframe.season == 2.0:
        return 'autumn'
    else:
        return 'winter'
    
    
#Create season_names column and call the function 
df['season_names'] = df.apply(find_season_names, axis = 1)

#check season_names with different season column's values 
df.loc[df.season == 0.0]

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,day_extracted,hour_extracted,season_names
1342,2015-03-01 00:00:00,272,11.5,11.5,85.0,28.0,3.0,0.0,1.0,0.0,1,0,spring
1343,2015-03-01 01:00:00,226,11.0,11.0,77.0,29.0,3.0,0.0,1.0,0.0,1,1,spring
1344,2015-03-01 02:00:00,177,10.5,8.5,67.0,37.0,3.0,0.0,1.0,0.0,1,2,spring
1345,2015-03-01 03:00:00,168,9.5,6.0,69.0,29.5,2.0,0.0,1.0,0.0,1,3,spring
1346,2015-03-01 04:00:00,81,9.0,5.5,68.5,26.0,2.0,0.0,1.0,0.0,1,4,spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12262,2016-05-31 19:00:00,976,13.0,13.0,88.0,21.5,7.0,0.0,0.0,0.0,31,19,spring
12263,2016-05-31 20:00:00,762,13.0,13.0,88.0,21.5,3.0,0.0,0.0,0.0,31,20,spring
12264,2016-05-31 21:00:00,522,13.0,13.0,88.0,16.0,3.0,0.0,0.0,0.0,31,21,spring
12265,2016-05-31 22:00:00,392,13.0,13.0,88.0,19.5,3.0,0.0,0.0,0.0,31,22,spring
12266,2016-05-31 23:00:00,290,13.0,13.0,88.0,17.0,3.0,0.0,0.0,0.0,31,23,spring

#### What was the average number of bike rides in winter? How was the number in the summer? What can you say about these numbers and is a direct comparison the right thing to do? Why? Why not?

In [44]:
#What was the average number of bike rides in winter? 

winter_bike_rides = df.loc[df.season == 3.0]['cnt'].mean()

#How was the number in the summer?
summer_bike_rides = df.loc[df.season == 1.0]['cnt'].mean()

print('Avg bikes rides in summer was {} and in winter it was {}'.format(int(summer_bike_rides), int(winter_bike_rides)))

#These numbers imply there were more cyclists in summer than those in winter in the surveyed period. 

#Count the number of row within winter periods to validate the mean comparison
df.loc[df.season == 3.0].count()

Avg bikes rides in summer was 1464 and in winter it was 821

timestamp         4330
cnt               4330
t1                4330
t2                4330
hum               4330
wind_speed        4330
weather_code      4330
is_holiday        4330
is_weekend        4330
season            4330
day_extracted     4330
hour_extracted    4330
season_names      4330
dtype: int64

In [45]:
#Count the number of row within summer periods to validate the mean comparison
df.loc[df.season == 1.0].count()

#There are 4330 and 4387 rows (only 57 rows different) for bikes rides in winter and summer periods, so the average values of bike rides in these two season are both acceptable.

timestamp         4387
cnt               4387
t1                4387
t2                4387
hum               4387
wind_speed        4387
weather_code      4387
is_holiday        4387
is_weekend        4387
season            4387
day_extracted     4387
hour_extracted    4387
season_names      4387
dtype: int64