# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

# Heading
**This is bold**  
*My doggy is katty*   
My boyfriend's company website is [chopchopgames](https://chopchopgames.dk)

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [2]:
18 % 7

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [4]:
3**4

81

In [5]:
pow(3,4)

81

**Ex 4** Calculate the square root of 49

In [25]:
import math 

math.sqrt(49)

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [12]:
pi = "3.14159265"

round(float(pi),3)

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [13]:
int(4.9)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [14]:
int(round(4.9))

## Convert into integer will remove decimal part, but not rounded.

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [3]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
##range = [0, 1, 2, 3, 4, 5]

numOfNames = len(names)

i = 0
while i < numOfNames: 
    print(names[i])
    i +=1

Miriam
Tim
Jing
Carlos
Ruben
Ashley

In [4]:
for i in range(numOfNames):
    print(names[i])

Miriam
Tim
Jing
Carlos
Ruben
Ashley

In [32]:
for unit in names:
    print(unit)

Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [5]:
new_names = ["Pablo", "Lise"]

for unit in new_names:
    names.append(unit)
    
print(names)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [7]:
print(names[1],names[-2])

Tim Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [1]:
age = [11, 22, 33, 44, 22, 55]

print(sum(age)/len(age))

31.166666666666668

In [46]:
sumOfAge = 0
for number in age:
    sumOfAge = sumOfAge + number 
    

print(sumOfAge)

187

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [6]:
sorted_number = sorted(age)
print(sorted_number)

age.count(22)

[11, 22, 22, 33, 44, 55]

2

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [19]:
def sumNumber(num1, num2, num3):
    sum_threeNum = num1 + num2 + num3
    
    if (num1 == num2 and num2 == num3):
        sum_threeNum *= 3
        
    return sum_threeNum

print(sumNumber(1,1,1))

9

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [6]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
    
def check_name(Single_Name):
 
    if Single_Name in names: 
        print(Single_Name + " " + "was found in the list")
        
    else: 
        print(Single_Name + " " + "was not found in the list")

check_name("Miriam")
check_name("Peter")

Miriam was found in the list
Peter was not found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [9]:
def triangle_calculate(height, base):
    area_calculate = 0.5*height*base 
    return area_calculate 
    
area_result = triangle_calculate(69,69)
print(area_result)

2380.5

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [13]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]

for student_Name in students:
    if isinstance(student_Name,str):
        print(student_Name)

Miriam
Tim
Jing
Carlos

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [1]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]

Name_Age = zip(names, ages)

print(tuple(Name_Age))

(('Miriam', 25), ('Tim', 22), ('Jing', 24), ('Carlos', 33), ('Ruben', 22), ('Ashley', 21))

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [3]:
student_dict = {}
for i in range(len(names)):
    student_dict[names[i]] = ages[i]
    
print(student_dict)

{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [2]:
nested_grades = [12, 12, 12, 10, 7, 10]
nested_name = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
nested_age = [25, 22, 24, 33, 22, 21]

student_nested_dict = {}
for i in range(len(nested_name)):
    student_nested_dict[nested_name[i]] = {}
    student_nested_dict[nested_name[i]]["age"] = nested_age[i] 
    student_nested_dict[nested_name[i]]["grade"] = nested_grades[i]
    

print(student_nested_dict)

{'Miriam': {'age': 25, 'grade': 12}, 'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashley': {'age': 21, 'grade': 10}}

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [3]:
del student_nested_dict['Miriam']

print(student_nested_dict)

{'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 24, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashley': {'age': 21, 'grade': 10}}

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [9]:
num_seq = range(1,21)
for num_unit in num_seq:
    #print(num_unit)
    if num_unit%6 == 0:
        print(num_unit)

6
12
18

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [11]:
date = (25, 11, 1992)

In [23]:
dd = date[0]
mm = date[1]
yyyy = date[2]

print('The holidays will begin on: %s/%s/%s' % (dd, mm, yyyy))
print('The holidays will begin on: ' + str(dd) + '/' + str(mm) + '/' + str(yyyy))

The holidays will begin on: 25/11/1992
The holidays will begin on: 25/11/1992

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [35]:
check_numb = int(input('Please give an integer number: '))

if (check_numb % 2) == 0:
    print('{0} is even'.format(check_numb))
else:
    print('{0} is odd'.format(check_numb))

Please give an integer number: 25
25 is odd

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [38]:
ask_name = input('Please type your username: ')
print('Hello', ask_name)

Please type your username: Dude
Hello Dude

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [2]:
num1, num2, op = input('Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a white space').split(' ')

num1 = int(num1)
num2 = int(num2)
ans = 0 

if op == '+':
    ans=num1+num2
elif op == '-':
    ans=num1-num2
elif op == '*':
    ans=num1*num2
elif op == '/':
    ans=num1/num2
else:
    print('Wrong operation selection!')
    
print('The result is: ',ans)

Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a white space69 69 /
The result is:  1.0

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [25]:
import math

fact_num = input('Insert a positive integer: ')
fact_num = int(fact_num) 

if isinstance(fact_num,int) and fact_num >= 0:
    print( str(math.factorial(fact_num)) + ' = factorial'+ '(' + str(fact_num) +')') 
else:
    print('Error! Number has to be positive integer')

Insert a positive integer: 3
6 = factorial(3)

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [20]:
input_string = input('Write something dude: ').split(' ')

reverse_string = ''

for i in range(1, len(input_string)+1): 
    reverse_string += input_string[-i] + ' '
    
    
print(reverse_string)

Write something dude: Putin hates world
world hates Putin

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [8]:
palin_check = input('Insert a word to check: ')

# Create a reverse string to the input
reverse_palin = ''

for i in range(1,len(palin_check)+1):
    reverse_palin += palin_check[-i]

if palin_check.lower() == reverse_palin.lower():
    print(palin_check + ' is a Palindrome')
else:
    print(palin_check + ' is not a Palindrome')

#print(palin_check)
#print(reverse_palin)

Insert a word to check: Anna
Anna is a Palindrome